create:
    DC_CONFIG_PP_TARIFF_RELA:
        - |
            CREATE TABLE DC_CONFIG_PP_TARIFF_RELA
             (
              tariff_plan_name varchar2(100) not null,
              offer_id number(10),
              offer_name varchar2(100) not null,
              price_plan_id number(10),
              price_plan_name varchar2(100) not null
              )
        - comment on table DC_CONFIG_PP_TARIFF_RELA is  'the relationship between offer and price plan'
        - comment on column DC_CONFIG_PP_TARIFF_RELA.tariff_plan_name is 'the name of tariff plan,can not be null'
        - comment on column DC_CONFIG_PP_TARIFF_RELA.offer_id is 'the tariff plan belong to which offer ,can be null'
        - comment on column DC_CONFIG_PP_TARIFF_RELA.offer_name is 'the offer name ,can not be null'
        - comment on column DC_CONFIG_PP_TARIFF_RELA.price_plan_id is  'the tariff plan include price plan id ,can be null'
        - comment on column DC_CONFIG_PP_TARIFF_RELA.price_plan_name is  'the price plan name,can not be null'

    DC_PROC_TARIFF_RELA:
        - |
          CREATE OR REPLACE PROCEDURE DC_PROC_TARIFF_RELA IS
            v_offer_id number(10);
            v_offer_name varchar2(100);
            V_TARIFF_PLAN_NAME varchar2(100);
            V_TARIFF_PLAN_CODE varchar2(60);
            v_tariff_plan_id number(20);
            v_prio number(5);
            V_TARIFF_PLAN_RELA_ID number(20);
            v_price_plan_id number(20);
            v_price_plan_name varchar2(100);
            v_tariff_plan_rela_apply_id number(20);
            v_obj_type VARCHAR2(10);
            v_obj_id  NUMBER(9);
            v_role_id  NUMBER(9);
            v_flag number(10);
            V_OFFER_OBJ_REL_ID NUMBER(9);
            state_date date;

            begin
            state_date :=to_date('1990-01-01 00:00:00','yyyy-mm-dd hh24:mi:ss');
            for cur_pp in (select distinct * from DC_CONFIG_PP_TARIFF_RELA ) loop
              select cur_pp.tariff_plan_name,cur_pp.offer_id,cur_pp.offer_name,cur_pp.price_plan_id,cur_pp.price_plan_name into V_TARIFF_PLAN_NAME,v_offer_id,v_offer_name,v_price_plan_id,v_price_plan_name from dual;
              select count(1) into v_flag from tariff_plan where tariff_plan_name=V_TARIFF_PLAN_NAME;
              if v_flag=0 then
                SELECT TARIFF_PLAN_ID_SEQ.NEXTVAL into v_tariff_plan_id FROM DUAL;
                select substr(v_offer_name,0,59) into V_TARIFF_PLAN_CODE from dual;
                insert into TARIFF_PLAN (TARIFF_PLAN_ID, TARIFF_PLAN_NAME, TARIFF_PLAN_CODE, CREATED_DATE, STATE , TARIFF_PLAN_TYPE, STATE_DATE, ACTIVE_DATE, ACTIVE_STAFF_ID, INACTIVE_DATE , INACTIVE_STAFF_ID, COMMENTS, SP_ID)
                values (v_tariff_plan_id, V_TARIFF_PLAN_NAME, V_TARIFF_PLAN_CODE, state_date, 'B' , 'B', state_date, state_date, null, null , null, null, null);
              else
                select tariff_plan_id into v_tariff_plan_id from tariff_plan where tariff_plan_name=V_TARIFF_PLAN_NAME;
              end if;
              if v_price_plan_id is null then
                select price_plan_id into v_price_plan_id from price_plan where price_plan_name=v_price_plan_name;
              end if;
              select count(1) into v_flag from TARIFF_PLAN_RELA where tariff_plan_id=v_tariff_plan_id and price_plan_id=v_price_plan_id;
              if v_flag=0 then
                select COALESCE(max(PRIORITY) + 1, 1) into v_prio from TARIFF_PLAN_RELA where TARIFF_PLAN_ID = v_tariff_plan_id;
              SELECT TARIFF_PLAN_RELA_ID_SEQ.NEXTVAL into V_TARIFF_PLAN_RELA_ID FROM DUAL;
              insert into TARIFF_PLAN_RELA (TARIFF_PLAN_RELA_ID, TARIFF_PLAN_RELA_NAME, TARIFF_PLAN_ID, PRICE_PLAN_ID, PRIORITY , CREATED_DATE, STATE, STATE_DATE, ACTIVE_DATE, ACTIVE_STAFF_ID , INACTIVE_DATE, INACTIVE_STAFF_ID, RENT_RELA_TYPE)
              values (V_TARIFF_PLAN_RELA_ID, V_TARIFF_PLAN_NAME, v_tariff_plan_id, v_price_plan_id, v_prio , state_date, 'B', state_date, state_date, null , null, null, 0 );
              else
                select TARIFF_PLAN_RELA_ID into V_TARIFF_PLAN_RELA_ID  from TARIFF_PLAN_RELA  where  tariff_plan_id=v_tariff_plan_id and price_plan_id=v_price_plan_id;
              end if;

              if v_offer_id is null then
                select offer_id into v_offer_id from offer where offer_name=v_offer_name;
              end if;
              select count(1) into v_flag from tariff_plan_rela_apply where tariff_plan_rela_id=V_TARIFF_PLAN_RELA_ID and offer_id=v_offer_id;
              if v_flag=0 then
                select a.OFFER_OBJ_REL_ID,a.obj_type,a.obj_id,a.role_id into  V_OFFER_OBJ_REL_ID,v_obj_type,v_obj_id,v_role_id  from offer_obj_rel a,product b where  a.offer_id = v_offer_id and a.obj_id=b.prod_id;
                select tariff_plan_rela_apply_id_seq.nextval into v_tariff_plan_rela_apply_id from dual;
                insert into TARIFF_PLAN_RELA_APPLY (tariff_plan_rela_apply_id,tariff_plan_rela_id,offer_obj_rel_id,offer_id,obj_type,obj_id,role_id,priority,CREATED_DATE,state,state_date)
              values(v_tariff_plan_rela_apply_id,V_TARIFF_PLAN_RELA_ID,V_OFFER_OBJ_REL_ID,v_offer_id,v_obj_type,v_obj_id,v_role_id,0,state_date,'B',state_date);
              update offer set PRICING_PLAN_ID=v_tariff_plan_id where offer_id=v_offer_id;
              end if;
            end loop;
            end;

create_list:
    DC_CONFIG_PP_TARIFF_RELA:
        - PP_TARIFF_RELA
        - V20191015
        - TABLE

    DC_PROC_TARIFF_RELA:
        - PP_TARIFF_RELA
        - V20191015
        - procedure