UserList:
  cpc

param_list:
  WarningData:
    cpc_user_name:
      cpc
  BadData:
    cpc_user_name:
      cpc
  ErrorData:
    cpc_user_name:
      cpc

#price check sql
WarningData:
  Zone Same zone value exists in different zone:
    #检查一个zone map下一个zone value同时存在不同的zone里
    des: 检查一个zone map下一个zone value同时存在不同的zone里
    area: comm
    comments: 主要是马来建了一个zone, 里面是国家和国家码，就出现了美国/加拿大，卡萨克斯/俄罗斯国家码一样的情况
    sql:
      "SELECT d.zone_map_id, d.zone_map_name, d.value FROM (SELECT c.zone_map_id, c.zone_map_name, a.zone_id, a.zone_name, b.value
             FROM zone a, zone_value b, zone_map c
             WHERE a.zone_id = b.zone_id AND a.zone_map_id = c.zone_map_id) d
             WHERE d.value NOT IN ('262' , '44', '672', '7', '1')
             and d.zone_map_id not in (45)
             GROUP BY d.zone_map_id , d.zone_map_name , d.value HAVING COUNT(1) > 1"

  Check the policy plan defined by pcrf are not used on the OCS side:
    #印尼检查PCRF定义的Policy plan是否在OCS侧已经引用
    des: 印尼检查PCRF定义的Policy plan是否在OCS侧已经引用
    area: A011
    sql:
      "select t.price_plan_id,t.price_plan_name,t.price_plan_code,t.state 
      from price_plan t 
      where t.policy_plan_flag='Y' 
      and t.state='B' 
      and t.price_plan_id not in (select t1.price_plan_id from tariff_plan_rela t1)"


  OTC Price multiple version same time:
    des: 查询OTC price不同版本时间窗口存在冲突的版本
    sql:
      "SELECT
      T1.PRICE_PLAN_VER_ID ,
      T1.PRICE_PLAN_ID ,
      T1.SEQ,
      T1.EFF_DATE ,
      T1.EXP_DATE ,
      T1.STATE,
      T2.PRICE_PLAN_VER_ID ,
      T2.PRICE_PLAN_ID ,
      T2.SEQ,
      T2.EFF_DATE ,
      T2.EXP_DATE ,
      T2.STATE
      FROM
      CPC_OTC_PRICE_PLAN_VER T1,
      CPC_OTC_PRICE_PLAN_VER T2
      WHERE
      T1.PRICE_PLAN_ID = T2.PRICE_PLAN_ID
      AND T1.SEQ = T2.SEQ -1
      AND (T1.EXP_DATE >T2.EFF_DATE
      OR T1.EXP_DATE IS NULL)"

BadData:
    Zone_same_zone_id_multiple_value:
        #一个zone map下，同一个zone里存在多条相同的value值
      des: 一个zone map下，同一个zone里存在多条相同的value值
      area: comm
      sql:
        "select d.zone_map_id, d.zone_map_name, zone_id, zone_name, d.value
                from (select c.zone_map_id,
                     c.zone_map_name,
                     a.zone_id,
                     a.zone_name,
                     b.value
                from cpc.zone a, cpc.zone_value b, cpc.zone_map c
                  where a.zone_id = b.zone_id
                  and a.zone_map_id = c.zone_map_id
                  and b.exp_date is null) d
                group by d.zone_map_id, d.zone_map_name, zone_id, zone_name, d.value
                having count(1) > 1"

    SortRule_OutputRe_No_Reserve:
        # 分拣分拣出了事件，但是在预留规则中没有配置预留
      des: 分拣分拣出了事件，但是在预留规则中没有配置预留
      area: comm
      sql:
        "SELECT
             f.workflow_name,
             a.PARAM1 AS re_id,
             c.RE_NAME,
             d.sort_rule_name,
             e.NODE_NAME
         FROM
             cpc.bwf_action a,
             cpc.def_re_attr b,
             cpc.re c,
             cpc.bwf_step d,
             cpc.bwf_node e,
             cpc.bwf_workflow f
         WHERE
             a.src_re_attr = a.obj_re_attr
                 AND a.src_re_attr = b.re_attr
                 AND b.def_re_attr = 21
                 AND a.PARAM1 = c.re_id
                 AND a.PARAM1 NOT IN (SELECT
                     re_id
                 FROM
                     cpc.reserve_policy)
                 AND a.step_id = d.STEP_ID
                 AND d.NODE_ID = e.NODE_ID
                 AND e.workflow_id = f.workflow_id
                 AND f.workflow_type IN ('A' , 'B')
                 AND a.param1 NOT IN ('900' , '972', '973')
                 and c.re_name not like '%%SMS%%'"

    Eff_date_price_plan:
      # 检查资费计划中的生效时间：
      des: 检查资费计划中的生效时间,不符合配置规范的
      area: A001
      sql:
        "SELECT pp.PRICE_PLAN_NAME FROM PRICE_PLAN_VER PPV, price_plan PP
              where (PPV.EXP_DATE is null OR PPV.EXP_DATE > SYSDATE)
                AND PPV.EFF_DATE > to_date('2020-01-01 00:00:00','yyyy-mm-dd HH24:MI:SS')
                and PPV.PRICE_PLAN_ID = PP.PRICE_PLAN_ID"

    Eff_Date_Sort_rule:
        # 检查分拣中的生效时间：
      des: 检查分拣中的生效时间,不符合配置规范的
      area: A001
      sql:
        "SELECT * FROM BWF_STEP BS
          WHERE (BS.EXP_DATE IS NULL OR BS.EXP_DATE > SYSDATE)
            AND EFF_DATE > to_date('2020-01-01 00:00:00','yyyy-mm-dd HH24:MI:SS')"


    Eff_date_zone:
        # 检查Zone中的生效时间
      des: 检查zone中的生效时间,不符合配置规范的
      area: A001
      sql:
        "SELECT * FROM ZONE_VALUE ZV
          WHERE (ZV.EXP_DATE IS NULL OR ZV.EXP_DATE > SYSDATE)
            AND ZV.EFF_DATE > to_date('2020-01-01 00:00:00','yyyy-mm-dd HH24:MI:SS')"


    Tariff plan not relate offer:
        #tariff plan没有与 OFFER 关联，注意可以更新 tariff plan id 的范围
      des: tariff plan没有与 OFFER 关联，注意可以更新 tariff plan id 的范围
      area: A009
      sql:
        "SELECT * FROM
                     tariff_plan tp
                     WHERE
                      NOT EXISTS (
                      SELECT
                          1
                      FROM
                          offer_price op
                      WHERE
                          tp.TARIFF_PLAN_ID = op.TARIFF_PLAN_ID
                      )
                      AND tp.STATE = 'B'"

    Check_acct_res_name_special_characters:
      # 检查账本名字是否包含特殊非英文半角字符：
      des: 检查账本名字是否包含特殊非英文半角字符，CIC需要获取账本名称,特殊非英文半角字符会导致CIC异常,不符合配置规范的（来自TM胡伟）
      area: comm
      sql:
        "SELECT acct_res_id,acct_res_name,bal_type,is_currency,unit_id FROM  cpc.cbec_acct_res where ACCT_RES_name like '%–%'"

ErrorData:
    Account Item not in GL:
          #找到账目类型必须要在GL中存在：
      des: 只要有合帐的账目类型，必须有GL所关联
      area: comm
      sql:
          "SELECT a.*
           FROM cbec_acct_item_type a, cbec_acct_res b
           WHERE a.acct_res_id = b.acct_res_id
           AND b.is_currency = 'Y'
           AND acct_item_type_id NOT IN (SELECT acct_item_type_id FROM cbec_gl_acct_item_type)
           AND a.state='A'"

    Event exists in sort rule but not in price:
          #分拣输出事件，但是资费里面没有配置这个事件
      des: 分拣输出事件，但是资费里面没有配置这个事件
      area: comm
      sql:
          "select a1.SORT_RULE_NAME, c.re_id, c.re_name
                                     from bwf_step a1,
                                          bwf_action a,
                                          re_attr b,
                                          re c,
                                          def_re_attr d,
                                          reserve_re_attr e
                                     where a1.STEP_ID = a.STEP_ID
                                       and (a1.EXP_DATE is null or a1.EXP_DATE > sysdate)
                                       and a.src_re_attr = b.re_attr
                                       and a.param1 = to_char(c.re_id)
                                       and b.re_attr = d.re_attr
                                       and d.def_re_attr = e.re_attr
                                       and e.re_attr = '21'
                                       and c.re_id not in (select re_id from re_usage where parent_re_id in (
                                                              select re_id from re_price_set)
                                                              union
                                                              select re_id from re_price_set) "

    Workflow use Assign error:
      #检查分拣里使用Assign函数时，是否存在把一个属性值直接Assign给另外一个属性，或者使用Assign赋予值时，忘记填参数了
      des: 检查分拣里使用Assign函数时，是否存在把一个属性值直接Assign给另外一个属性，或者使用Assign赋予值时，忘记填参数了
      area: comm
      sql:
        "select e.workflow_name,i.workflow_type_name,d.node_name,c.sort_rule_name,g.re_attr_name,a.function,h.re_attr_name
                         from
                             (
                             select step_id,function,src_re_attr,obj_re_attr from cpc.bwf_action  where function='Assign' and src_re_attr<>obj_re_attr
                             union all
                             select step_id,function,src_re_attr,obj_re_attr from cpc.bwf_action  where function='Assign' and src_re_attr=obj_re_attr
                             and param1 is null ) a,
                             bwf_step c,
                             bwf_node d,
                             bwf_workflow e,
                             re_attr g,
                             re_attr h ,
                             workflow_type i
                         where a.step_id=c.step_id
                         and c.node_id=d.node_id
                         and d.workflow_id=e.workflow_id
                         and a.src_re_attr=g.re_attr
                         and a.obj_re_attr=h.re_attr
                         and e.workflow_type in ('A','B','D','P')
                         and e.workflow_type=i.workflow_type"

    Precision not correct:
      #精度问题，# By QLR
      des: 精度问题
      area: comm
      sql:
        "SELECT
                      a.UNIT_PRECISION,
                      b.SAVE_PRECISION
                    FROM
                      CON_RES a,
                      CBEC_CURRENCY_TYPE b
                    WHERE
                      a.CURRENCY_TYPE_ID = b.CURRENCY_TYPE_ID
                      AND a.UNIT_PRECISION <> b.SAVE_PRECISION
                      AND a.CON_RES_ID IN ( SELECT DISTINCT CON_RES_ID FROM PRICE )"

    Recurring event bind sort rule:
      #检查租费事件是否绑定分拣 By MSH
      des: 检查租费事件是否绑定分拣
      area: comm
      sql:
        "SELECT PP.PRICE_PLAN_ID,PP.PRICE_PLAN_NAME, R.RE_NAME FROM RE_PRICE_SET RPS, RE R, PRICE_PLAN_MEMBER PPM, PRICE_PLAN_VER PPV, PRICE_PLAN PP
         where RPS.RE_ID = R.RE_ID AND R.RE_TYPE = 9 AND (WORKFLOW_ID IS NULL OR POST_WORKFLOW_ID IS NULL)
         AND RPS.PRICE_SET_ID = PPM.PRICE_SET_ID
         AND PPM.PRICE_PLAN_VER_ID = PPV.PRICE_PLAN_VER_ID
         AND PPV.EFF_DATE < SYSDATE AND (PPV.EXP_DATE IS NULL OR PPV.EXP_DATE > SYSDATE)
         AND PPV.PRICE_PLAN_ID = PP.PRICE_PLAN_ID
         AND PP.STATE != 'C'"

    UM_Event exists in sort rule but not in price:
      des: 马来检查分拣出来的事件，但是没有批价（增强了父子事件的关系）, 需要考虑上父子事件，需要优化
      area: A016
      sql:
        "SELECT
             a1.SORT_RULE_NAME, c.re_id, c.re_name
         FROM
             bwf_step a1,
             bwf_action a,
             re_attr b,
             re c,
             def_re_attr d,
             reserve_re_attr e,
             re_usage f
         WHERE
             a1.STEP_ID = a.STEP_ID
                 AND (a1.EXP_DATE IS NULL
                 OR a1.EXP_DATE > sysdate)
                 AND a.src_re_attr = b.re_attr
                 AND a.param1 = c.re_id
                 AND b.re_attr = d.re_attr
                 AND d.def_re_attr = e.re_attr
                 AND e.re_attr = 21
                 AND c.re_id NOT IN (SELECT
                     re_id
                 FROM
                     re_price_set)
                 and (c.re_id=f.re_id or c.re_id = f.parent_re_id)
                 and f.parent_re_id not in (SELECT
                     re_id
                 FROM
                     re_price_set)"

    UM_Event exists in sort rule not re Code:
      des: 马来检查分拣出来的事件，但是事件code，主要是账单使用
      area: A016
      sql:
        "SELECT
                c.re_id, c.re_name,c.re_code
            FROM
                bwf_step a1,
                bwf_action a,
                re_attr b,
                re c,
                def_re_attr d,
                reserve_re_attr e,
                re_usage f
            WHERE
                a1.STEP_ID = a.STEP_ID
                    AND (a1.EXP_DATE IS NULL
                    OR a1.EXP_DATE > sysdate)
                    AND a.src_re_attr = b.re_attr
                    AND a.param1 = c.re_id
                    AND b.re_attr = d.re_attr
                    AND d.def_re_attr = e.re_attr
                    AND e.re_attr = 21
                    and c.re_code is null
                    AND c.re_id NOT IN (SELECT
                        re_id
                    FROM
                        re_price_set)"

    UM_Tax_group NA in ST:
      des: 检查不收税组(NA)的帐目一定要在ST税组里
      area: A016
      sql:
        "SELECT A.TAX_FACT_VALUE FROM cbec_tax_fact_val_grp_map A WHERE A.TAX_FACT_VAL_GRP_ID = 10041
         AND NOT EXISTS(
             SELECT * FROM cbec_tax_fact_val_grp_map B WHERE B.TAX_FACT_VAL_GRP_ID = 10040 AND B.TAX_FACT_VALUE = A.TAX_FACT_VALUE
                 )"

    The attributes used by pcrf are not defined on the OCS side:
      #印尼检查Policy counter中引用的属性是否在OCS侧已经定义
      des: 印尼检查Policy counter中引用的属性是否在OCS侧已经定义
      area: A011
      sql:
        "select t1.policy_counter_id,t1.policy_counter_name,t1.pcrf_mapping_value 
		  from policy_counter t1 
		  where t1.pcrf_mapping_type='7'
          and t1.pcrf_mapping_value not in (select t.re_attr from re_attr t)"

    The account balance used by pcrf are not defined on the OCS side:
      #印尼检查Policy counter中引用的账本是否在OCS侧已经定义
      des: 印尼检查Policy counter中引用的账本是否在OCS侧已经定义
      area: A011
      sql:
        "select t1.policy_counter_id,t1.policy_counter_name,t1.pcrf_mapping_value 
		 from policy_counter t1 
		 where t1.pcrf_mapping_type='1'
         and t1.pcrf_mapping_value not in (select t.acct_res_id from cbec_acct_res t)"

    The cumulant used by pcrf are not defined on the OCS side:
      #印尼检查Policy counter中引用的累积量是否在OCS侧已经定义
      des: 印尼检查Policy counter中引用的累积量是否在OCS侧已经定义
      area: A011
      sql:
        "select t1.policy_counter_id,t1.policy_counter_name,t1.pcrf_mapping_value 
		 from policy_counter t1 
		 where t1.pcrf_mapping_type='2'
         and t1.pcrf_mapping_value not in (select t.resource_id from ratable_resource t)"

    Check the attribute used in workflow action are not defined on the OCS side:
      #检查workflow的action中引用的属性是否在OCS侧已经定义
      des: 检查workflow的action中引用的属性是否在OCS侧已经定义
      area: comm
      sql:
        "select t.workflow_id,t.workflow_name,t1.node_id,t1.node_name,t2.sort_rule_name,t3.src_re_attr,t3.obj_re_attr 
         from bwf_workflow t,bwf_node t1,bwf_step t2,bwf_action t3
         where t.workflow_id=t1.workflow_id
         and t1.node_id=t2.node_id
         and t2.step_id=t3.step_id
         and (t3.src_re_attr not in (select a.re_attr from re_attr a) or t3.obj_re_attr not in (select a1.re_attr from re_attr a1))"

    Check the attribute used in workflow condition are not defined on the OCS side:
      #检查workflow的条件中引用的属性是否在OCS侧已经定义
      des: 检查workflow的条件中引用的属性是否在OCS侧已经定义
      area: comm
      sql:
        "select t.workflow_id,t.workflow_name,t1.node_id,t1.node_name,t2.sort_rule_name,t4.re_attr,t4.r_re_attr 
         from bwf_workflow t,bwf_node t1,bwf_step t2,bwf_cond_group t3, bwf_cond t4
         where t.workflow_id=t1.workflow_id
         and t1.node_id=t2.node_id
         and t2.step_id=t3.step_id
         and (t4.re_attr not in (select a.re_attr from re_attr a) or t4.r_re_attr not in (select a1.re_attr from re_attr a1))"

NOUSE:
  Offer dont relate to tariff plan:
    #检查basic offer,main offer, additional offer没有关联tariff plan
    "select *
          from cpc.offer d
          where offer_type in ('10','11','12') and status_cd='1000'
                and not exists (
                select c.offer_id
                from
                  cpc.tariff_plan a,
                  cpc.tariff_plan_rela b,
                  cpc.tariff_plan_rela_apply c
                where a.tariff_plan_id=b.tariff_plan_id
                and b.tariff_plan_rela_id=c.tariff_plan_rela_id
                and c.offer_id=d.offer_id
                and a.state='B'
                and b.state='B'
                and c.state='B')"

  Charging Workflow use the condition !=:
    #V9分拣里使用 ！= 不等于时，如果属性值为空，也会满足条件，需要单独拿出来确认
    "select e.workflow_name,i.workflow_type_name,d.node_name,c.sort_rule_name, f.re_attr_name,a.cond_group_id,a.function,g.sort_operator_name,
          decode(a.is_const,'Y',a.operand,'N',h.re_attr_name,'')
          from
              cpc.bwf_cond a,
              cpc.bwf_cond_group b,
              cpc.bwf_step c,
              cpc.bwf_node d,
              cpc.bwf_workflow e,
              cpc.re_attr f,
              cpc.sort_operator g,
              cpc.re_attr h ,
              cpc.workflow_type i
          where a.sort_operator='4'
          and a.cond_group_id=b.cond_group_id and b.step_id=c.step_id
          and c.node_id=d.node_id
          and d.workflow_id=e.workflow_id
          and a.re_attr=f.re_attr
          and a.sort_operator=g.sort_operator
          and nvl(a.r_re_attr,0)=h.re_attr(+)
          and e.workflow_type in ('A','B','D','P')
          and e.workflow_type=i.workflow_type"

  The re_attr of reservation rule is different with the re_attr configured in price plan:
    #事件配置的预留规则与资费里配置的扣费单位不一致，比如预留配置的是秒，但是扣费是按次扣费
    "select * from (
           select a.re_id,b.re_attr,c.re_attr_name
           from
             cpc.re a,
             cpc.reserve_limit b,
             cpc.re_attr c
           where a.re_id=b.re_id
           and b.re_attr=c.re_attr) a,
           (
           select pp.price_plan_id,pp.price_plan_name,pp.price_plan_type,pp.state, re.re_id,re.re_name,p.price_id,p.price_name,p.re_attr,ra.re_attr_name
           from
             cpc.price_plan pp,
             cpc.price_plan_ver ppv,
             cpc.price_plan_member ppm,
             cpc.re_price_set rps,
             cpc.rate_plan rp,
             cpc.rate_plan_zone rpz,
             cpc.mapping m,
             cpc.price_ver pv,
             cpc.price p,
             cpc.re re,
             cpc.MAPPING_UNIT mu,
             cpc.re_attr ra
           where pp.price_plan_id = ppv.price_plan_id
                and pp.state<>'C'
                and ppv.price_plan_ver_id = ppm.price_plan_ver_id
                and ppm.price_set_id = rps.price_set_id
                and rps.re_id = re.re_id
                and rp.re_price_set_id = rps.re_price_set_id
                and m.rate_plan_id = rp.rate_plan_id
                and pv.mapping_id = m.mapping_id
                and p.price_ver_id = pv.price_ver_id
                and rp.rate_plan_id = rpz.rate_plan_id(+)
                and m.mapping_id = mu.mapping_id(+)
                and p.re_attr=ra.re_attr ) b
           where a.re_id=b.re_id
           and a.re_attr<>b.re_attr"

NeedInhance:
  Recurring benefit accout not used in price:
    #租费赠送的帐本，未在使用费里使用
    "SELECT *
           FROM
           	SUB_BAL_TYPE sbt
           WHERE
           	NOT EXISTS (
           	SELECT 1
           	FROM
           		ref_value rv,con_res_detail crd
           	WHERE
           		rv.REF_VALUE_TYPE = '9'
           		AND rv.VALUE_STRING = crd.CON_RES_ID
           		AND crd.ACCT_RES_ID = sbt.ACCT_RES_ID
           	)"

  Event exists in price but not in sort rule:
    # 资费里面有事件，但是分拣中没有输出对应的事件
    "select *
          from
              cpc.re_price_set
          where re_id not in (
          select c.re_id
          from
              cpc.bwf_action a,
              cpc.re_attr b,
              cpc.re c,
              cpc.def_re_attr d,
              cpc.reserve_re_attr e
          where a.src_re_attr=b.re_attr
          and b.re_attr=d.re_attr
          and d.def_re_attr=e.re_attr
          and e.re_attr=21
          and a.param1=c.re_id)"