param_list:
  Lifecycle:
    default_create_user:
      3044336
    default_create_date:
      sysdate

Lifecycle:
  dst_table:
    - coc.cc_lifecycle_reminder
    - coc.cc_lifecycle_apply
    - coc.cc_lifecycle_event_subs
    - coc.cc_lifecycle_state_convert
    - coc.cc_lifecycle

  mid_table:
    - DC_CONFIG_LIFECYCLE_CONVERSION
    - DC_CONFIG_LIFECYCLE_NOFITY
    - DC_CONFIG_LIFECYCLE_OFFER_REL

  insert_DC_CONFIG_LIFECYCLE_CONVERSION:
    - |
      insert into coc.cc_lifecycle
        (lifecycle_id,
         lifecycle_name,
         flow_layout,
         is_product,
         state,
         created_by,
         created_date,
         update_by,
         update_date)
        select max_cnt + rownum,
               t1.lifecycle_name,
               null,
               'Y',
               'A',
               %(default_create_user)s,
               %(default_create_date)s,
               3044336,
               sysdate
          from (select lifecycle_name
                  from DC_CONFIG_LIFECYCLE_CONVERSION
                 group by lifecycle_name) t1
          left join (select nvl(max(lifecycle_id),0) max_cnt from coc.cc_lifecycle)
            on 1 = 1
          left join coc.cc_lifecycle t3
            on t1.lifecycle_name = t3.lifecycle_name
         where t3.lifecycle_id is null

    - |
      insert into coc.cc_lifecycle_state_convert
        (convert_id,
         lifecycle_id,
         convert_type,
         clear_bal_mode,
         all_subs_flag,
         trigger_event_id,
         elapsed_day,
         time_unit_type)
        select t3.max_cnt + rownum,
               t2.lifecycle_id,
               t4.convert_type,
               t5.clear_bal_mode,
               'N',
               t6.service_offer_id,
               t1.time_unit,
               t1.time_type
          from (select t1.lifecycle_name,
                       t1.convert_type,
                       t1.clear_bal_mode,
                       t1.trigger_event,
                       regexp_substr(t1.elapsed_time, '\d*') time_unit,
                       t2.key_value time_type
                  from DC_CONFIG_LIFECYCLE_CONVERSION t1
                  left join DC_DIM_CPC_DICT t2
                    on translate(t1.elapsed_time,'A0123456789 ','A') = t2.key_name
                   and t2.dict_name = 'LIFECYCLE TIME UNIT'
                 group by t1.lifecycle_name,
                          t1.convert_type,
                          t1.clear_bal_mode,
                          t1.trigger_event,
                          regexp_substr(t1.elapsed_time, '\d*'),
                          t2.key_value) t1
         inner join coc.cc_lifecycle t2
            on t1.lifecycle_name = t2.lifecycle_name
          left join (select nvl(max(convert_id),0) max_cnt
                       from coc.cc_lifecycle_state_convert) t3
            on 1 = 1
          left join (select t1.convert_type,
                            t1.auto_flag,
                            trim(t2.attr_value_name) || '-' ||
                            trim(t3.attr_value_name) convert_type_name
                       from coc.cc_state_convert_type t1
                       left join cpc.attr_value t2
                         on t2.attr_id = 800052302
                        and t2.status_cd = '1000'
                        and t1.src_prod_state = t2.attr_value
                       left join cpc.attr_value t3
                         on t3.attr_id = 800052302
                        and t3.status_cd = '1000'
                        and t1.obj_prod_state = t3.attr_value) t4
            on t4.convert_type_name = t1.convert_type
          left join coc.cc_clear_bal_mode t5
            on t1.clear_bal_mode = t5.clear_bal_mode
          inner join cpc.service_offer t6
            on t1.trigger_event = t6.service_offer_name
          left join coc.cc_lifecycle_state_convert t7
            on t2.lifecycle_id = t7.lifecycle_id
           and t4.convert_type = t7.convert_type
           and t6.service_offer_id = t7.trigger_event_id
           and t1.time_unit = t7.elapsed_day
           and t1.time_type=t7.time_unit_type
         where t7.convert_id is null
           and t4.auto_flag = 'N'

    - |
      insert into coc.cc_lifecycle_event_subs
        (convert_id, target_subs_id)
        select t7.convert_id, nvl(t8.target_subs_id, t9.target_subs_id)
          from DC_CONFIG_LIFECYCLE_CONVERSION t1
         inner join coc.cc_lifecycle t2
            on t1.lifecycle_name = t2.lifecycle_name
         inner join DC_DIM_CPC_DICT t3
            on translate(t1.elapsed_time,'A0123456789 ','A') = t3.key_name
           and t3.dict_name = 'LIFECYCLE TIME UNIT'
          left join (select t1.convert_type,
                            trim(t2.attr_value_name) || '-' ||
                            trim(t3.attr_value_name) convert_type_name
                       from coc.cc_state_convert_type t1
                       left join cpc.attr_value t2
                         on t2.attr_id = 800052302
                        and t2.status_cd = '1000'
                        and t1.src_prod_state = t2.attr_value
                       left join cpc.attr_value t3
                         on t3.attr_id = 800052302
                        and t3.status_cd = '1000'
                        and t1.obj_prod_state = t3.attr_value) t4
            on t4.convert_type_name = t1.convert_type
          left join cpc.service_offer t6
            on t1.trigger_event = t6.service_offer_name
         inner join coc.cc_lifecycle_state_convert t7
            on t2.lifecycle_id = t7.lifecycle_id
           and t4.convert_type = t7.convert_type
           and t6.service_offer_id = t7.trigger_event_id
           and regexp_substr(t1.elapsed_time, '\d*') = t7.elapsed_day
           and t3.key_value=t7.time_unit_type
          left join coc.cc_lifecycle_target_subs t8
            on t1.target_subs = t8.target_subs_name
          left join (select t1.target_subs_id,
                            trim(t3.attr_value_name) block_reason
                       from coc.cc_lifecycle_target_subs t1
                       left join coc.cc_lifecycle_target_input t2
                         on t1.target_subs_id = t2.target_subs_id
                        and t2.data_type = 'S'
                       left join cpc.attr_value t3
                         on t2.default_value = t3.attr_value
                        and t3.attr_id = 992001414
                        and t3.status_cd = '1000') t9
            on t1.block_reason = t9.block_reason
          left join coc.cc_lifecycle_event_subs t10
            on t7.convert_id = t10.convert_id
           and nvl(t8.target_subs_id, t9.target_subs_id) = t10.target_subs_id
         where t10.convert_id is null
           and nvl(t8.target_subs_id, t9.target_subs_id) is not null

  insert_DC_CONFIG_LIFECYCLE_NOFITY:
    - |
      insert into coc.cc_lifecycle_reminder
        (reminder_id, convert_id, reminder_flow_id, prior_day)
        select max_cnt + rownum, t7.convert_id, t8.event_flow_id, t1.prior_day
          from DC_CONFIG_LIFECYCLE_NOFITY t1
         inner join coc.cc_lifecycle t2
            on t1.lifecycle_name = t2.lifecycle_name
          left join (select nvl(max(reminder_id),0) max_cnt from coc.cc_lifecycle_reminder)
            on 1 = 1
         inner join DC_DIM_CPC_DICT t3
            on translate(t1.elapsed_time,'A0123456789 ','A') = t3.key_name
           and t3.dict_name = 'LIFECYCLE TIME UNIT'
          left join (select t1.convert_type,
                            trim(t2.attr_value_name) || '-' ||
                            trim(t3.attr_value_name) convert_type_name
                       from coc.cc_state_convert_type t1
                       left join cpc.attr_value t2
                         on t2.attr_id = 800052302
                        and t2.status_cd = '1000'
                        and t1.src_prod_state = t2.attr_value
                       left join cpc.attr_value t3
                         on t3.attr_id = 800052302
                        and t3.status_cd = '1000'
                        and t1.obj_prod_state = t3.attr_value) t4
            on t4.convert_type_name = t1.convert_type
          left join cpc.service_offer t6
            on t1.trigger_event = t6.service_offer_name
         inner join coc.cc_lifecycle_state_convert t7
            on t2.lifecycle_id = t7.lifecycle_id
           and t4.convert_type = t7.convert_type
           and t6.service_offer_id = t7.trigger_event_id
           and regexp_substr(t1.elapsed_time, '\d*') = t7.elapsed_day
           and t3.key_value=t7.time_unit_type
         inner join (select t1.flow_name, t1.event_flow_id
                       from cic.cic_event_flow t1
                      inner join cic.cic_event t2
                         on t1.inter_event_id = t2.event_id
                      where t2.event_code = 'CC_LIFECYCLE_REMINDER') t8
            on t1.reminder_flow = t8.flow_name
          left join coc.cc_lifecycle_reminder t9
            on t7.convert_id = t9.convert_id
           and t8.event_flow_id = t9.reminder_flow_id
         where t9.reminder_id is null

  insert_DC_CONFIG_LIFECYCLE_OFFER_REL:
    - |
      insert into coc.cc_lifecycle_apply
        (offer_id, lifecycle_id, created_by, created_date)
        select t2.offer_id, t3.lifecycle_id, %(default_create_user)s, %(default_create_date)s
          from dc_config_lifecycle_offer_rel t1
         inner join cpc.offer t2
            on t1.offer_name = t2.offer_name
         inner join coc.cc_lifecycle t3
            on t1.lifecycle_name = t3.lifecycle_name
          left join coc.cc_lifecycle_apply t4
            on t2.offer_id = t4.offer_id
         where t4.offer_id is null

  update_lifecycle_layout:
    - |
      exec:dc_update_lifecycle_flowlayout