PricePlanUsageEvent:
  dst_table:
    - cpc.re
    - cpc.re_usage
    - cpc.reserve_limit
    - cpc.reserve_policy

  mid_table:
    - dc_config_event_u

  insert_re:
    - |
      INSERT INTO cpc.RE (RE_ID, RE_TYPE, RE_NAME, COMMENTS, SP_ID, RE_CODE, RE_DISPLAY_NAME)
      select distinct m_re_id,1,m_re_name,o_comment,null,o_re_code,m_re_name
      from dc_config_event_u
  insert_re_usage:
    - |
      INSERT INTO cpc.RE_USAGE (RE_ID, RE_CATEGORY, PARENT_RE_ID, SP_ID)
      select distinct m_re_id,null,o_parent_re_id,null  from dc_config_event_u
  insert_reserve_limit:
    - |
      insert into cpc.RESERVE_LIMIT (RE_ID, RE_ATTR, VALUE, SP_ID, BAL_LIMIT)
      select distinct d.m_re_id,a.re_attr,d.o_reserve_limit,null,null from re_attr a ,reserve_re_attr b,def_re_attr c, dc_config_event_u d
      where a.re_attr=c.re_attr
      and c.def_re_attr=b.re_attr
      and decode(d.o_Reserve_Unit,'O','74','S','4','B','235','0')=b.re_attr
      and d.o_reserve_limit is not null
  insert_reserve_policy:
    - |
      insert into cpc.RESERVE_POLICY (RE_ID, RE_ATTR, SEQ, VALUE, SP_ID , WORKFLOW_ID)
      select distinct d.m_re_id,a.re_attr,1,d.o_reserve_max,null,null from re_attr a ,reserve_re_attr b,def_re_attr c, dc_config_event_u d
      where a.re_attr=c.re_attr
      and c.def_re_attr=b.re_attr
      and decode(d.o_Reserve_Unit,'O','74','S','4','B','235','4')=b.re_attr
      and d.o_reserve_max is not null