PPUsageTariff:
  dst_table:
    - cpc.REF_VALUE
    - cpc.PRICE_WORK_NODE
    - cpc.PRICE
    - cpc.ACTION_PRICE
    - cpc.WORK_ACTION
    - cpc.COND_RANK
    - cpc.WORK_CONDITION
    - cpc.WORK_NODE
    - cpc.PRICE_VER
    - cpc.MAPPING_UNIT
    - cpc.MAPPING_CONDITION_GROUP
    - cpc.MAPPING
    - cpc.RATE_PLAN_ZONE
    - cpc.RATE_PLAN
    - cpc.RE_PRICE_SET
    - DC_CONFIG_PP_Usage_Tariff_LOG

  mid_table:
    - DC_CONFIG_PP_Usage_Tariff

  insert_pp_usage_tariff:
    - |
      exec:DC_PROC_PRICE