UserList:
  cpc

param_list:
  WarningData:
    cpc_user_name:
      cpc
  BadData:
    cpc_user_name:
      cpc
  ErrorData:
    cpc_user_name:
      cpc

#price check sql
WarningData:
    Charging Workflow use the condition !=:
      sql:
        #V9分拣里使用 ！= 不等于时，如果属性值为空，也会满足条件，需要单独拿出来确认
        #which means even the attribute value is null it still satisfied;need to check
        "select e.workflow_name,i.workflow_type_name,d.node_name,c.sort_rule_name, f.re_attr_name,a.cond_group_id,a.function,g.sort_operator_name,
        decode(a.is_const,'Y',a.operand,'N',h.re_attr_name,'')
        from
            %(cpc_user_name)s.bwf_cond a,
            %(cpc_user_name)s.bwf_cond_group b,
            %(cpc_user_name)s.bwf_step c,
            %(cpc_user_name)s.bwf_node d,
            %(cpc_user_name)s.bwf_workflow e,
            %(cpc_user_name)s.re_attr f,
            %(cpc_user_name)s.sort_operator g,
            %(cpc_user_name)s.re_attr h ,
            c%(cpc_user_name)s.workflow_type i
        where a.sort_operator='4'
        and a.cond_group_id=b.cond_group_id and b.step_id=c.step_id
        and c.node_id=d.node_id
        and d.workflow_id=e.workflow_id
        and a.re_attr=f.re_attr
        and a.sort_operator=g.sort_operator
        and nvl(a.r_re_attr,0)=h.re_attr(+)
        and e.workflow_type in ('A','B','D','P')
        and e.workflow_type=i.workflow_type"


BadData:
    Zone_same_zone_id_multiple_value:
      sql:
        #一个zone map下，同一个zone里存在多条相同的value值
        "select d.zone_map_id, d.zone_map_name, zone_id, zone_name, d.value
          from (select c.zone_map_id,
               c.zone_map_name,
               a.zone_id,
               a.zone_name,
               b.value
          from
            %(cpc_user_name)s.zone a,
            %(cpc_user_name)s.zone_value b,
            %(cpc_user_name)s.zone_map c
            where a.zone_id = b.zone_id
            and a.zone_map_id = c.zone_map_id
            and b.exp_date is null) d
          group by d.zone_map_id, d.zone_map_name, zone_id, zone_name, d.value
          having count(1) > 1"

    Event exists in price but not in sort rule:
      sql:
        # 资费里面有事件，但是分拣中没有输出对应的事件
        "select *
        from
            %(cpc_user_name)s.re_price_set
        where re_id not in (
        select c.re_id
        from
            %(cpc_user_name)s.bwf_action a,
            %(cpc_user_name)s.re_attr b,
            %(cpc_user_name)s.re c,
            %(cpc_user_name)s.def_re_attr d,
            %(cpc_user_name)s.reserve_re_attr e
        where a.src_re_attr=b.re_attr
        and b.re_attr=d.re_attr
        and d.def_re_attr=e.re_attr
        and e.re_attr=21
        and a.param1=c.re_id)"

    SortRule_OutputRe_No_Reserve:
      sql:
        # 分拣分拣出了事件，但是在预留规则中没有配置预留
        "select f.workflow_name, a.PARAM1 as re_id, c.RE_NAME,d.sort_rule_name, e.NODE_NAME
                          from %(cpc_user_name)s.bwf_action   a,
                               %(cpc_user_name)s.def_re_attr  b,
                               %(cpc_user_name)s.re           c,
                               %(cpc_user_name)s.bwf_step     d,
                               %(cpc_user_name)s.bwf_node     e,
                               %(cpc_user_name)s.bwf_workflow f,
                               %(cpc_user_name)s.rating_flow  g
                         where a.src_re_attr = a.obj_re_attr
                           and a.src_re_attr = b.re_attr
                           and b.def_re_attr = 21
                           and a.PARAM1 = TO_CHAR(c.re_id)
                           and a.PARAM1 not in (select re_id from %(cpc_user_name)s.reserve_policy)
                           and a.step_id = d.STEP_ID
                           and d.NODE_ID = e.NODE_ID
                           and e.workflow_id = f.workflow_id
                           and f.workflow_type in ('A','B')
                           and a.param1 not in ('900','972','973')
                           and ( f.workflow_id=g.pre_workflow_id or f.workflow_id=g.post_workflow_id)
                           and g.rating_flow_type<>'E'"

    Individual price plan do not relate to tariff plan:
      sql:
        #个性化资费计划没有关联tariff plan
        "select *
            from %(cpc_user_name)s.price_plan d
            where state='B'  and d.price_plan_type='3'
            and not exists (select b.price_plan_id
                from
                    %(cpc_user_name)s.tariff_plan a,
                    %(cpc_user_name)s.tariff_plan_rela b,
                    %(cpc_user_name)s.tariff_plan_rela_apply c
                where a.tariff_plan_id=b.tariff_plan_id
                        and b.tariff_plan_rela_id=c.tariff_plan_rela_id
                        and b.price_plan_id=d.price_plan_id
                        and a.state='B'
                        and b.state='B'
                        and c.state='B')"

    Offer dont relate to tariff plan:
      sql:
        #检查basic offer,main offer, additional offer没有关联tariff plan
        "select *
            from %(cpc_user_name)s.offer d
            where offer_type in ('10','11','12') and status_cd='1000'
                  and not exists (
                  select c.offer_id
                  from
                    %(cpc_user_name)s.tariff_plan a,
                    %(cpc_user_name)s.tariff_plan_rela b,
                    %(cpc_user_name)s.tariff_plan_rela_apply c
                  where a.tariff_plan_id=b.tariff_plan_id
                  and b.tariff_plan_rela_id=c.tariff_plan_rela_id
                  and c.offer_id=d.offer_id
                  and a.state='B'
                  and b.state='B'
                  and c.state='B')"

    The re_attr of reservation rule is different with the re_attr configured in price plan:
      sql:
        #事件配置的预留规则与资费里配置的扣费单位不一致，比如预留配置的是秒，但是扣费是按次扣费
        "select * from (
          select a.re_id,b.re_attr,c.re_attr_name
          from
            %(cpc_user_name)s.re a,
            %(cpc_user_name)s.reserve_limit b,
            %(cpc_user_name)s.re_attr c
          where a.re_id=b.re_id
          and b.re_attr=c.re_attr) a,
          (
          select pp.price_plan_id,pp.price_plan_name,pp.price_plan_type,pp.state, re.re_id,re.re_name,p.price_id,p.price_name,p.re_attr,ra.re_attr_name
          from
            %(cpc_user_name)s.price_plan pp,
            %(cpc_user_name)s.price_plan_ver ppv,
            %(cpc_user_name)s.price_plan_member ppm,
            %(cpc_user_name)s.re_price_set rps,
            %(cpc_user_name)s.rate_plan rp,
            %(cpc_user_name)s.rate_plan_zone rpz,
            %(cpc_user_name)s.mapping m,
            %(cpc_user_name)s.price_ver pv,
            %(cpc_user_name)s.price p,
            %(cpc_user_name)s.re re,
            %(cpc_user_name)s.MAPPING_UNIT mu,
            %(cpc_user_name)s.re_attr ra
          where pp.price_plan_id = ppv.price_plan_id
               and pp.state<>'C'
               and ppv.price_plan_ver_id = ppm.price_plan_ver_id
               and ppm.price_set_id = rps.price_set_id
               and rps.re_id = re.re_id
               and rp.re_price_set_id = rps.re_price_set_id
               and m.rate_plan_id = rp.rate_plan_id
               and pv.mapping_id = m.mapping_id
               and p.price_ver_id = pv.price_ver_id
               and rp.rate_plan_id = rpz.rate_plan_id(+)
               and m.mapping_id = mu.mapping_id(+)
               and p.re_attr=ra.re_attr ) b
          where a.re_id=b.re_id
          and a.re_attr<>b.re_attr"

ErrorData:
    Event exists in sort rule but not in price:
      sql:
    #分拣输出事件，但是资费里面没有配置这个事件
        "select c.re_id,c.re_name
            from
                %(cpc_user_name)s.bwf_action a,
                %(cpc_user_name)s.re_attr b,
                %(cpc_user_name)s.re c,
                %(cpc_user_name)s.def_re_attr d,
                %(cpc_user_name)s.reserve_re_attr e
        where a.src_re_attr=b.re_attr
        and a.param1=c.re_id
        and b.re_attr=d.re_attr
        and d.def_re_attr=e.re_attr
        and e.re_attr=21
        and c.re_id not in (select re_id from %(cpc_user_name)s.re_price_set)"

    Precision not correct:
      sql:
        #精度问题，# By QLR
        "SELECT
           a.UNIT_PRECISION,
           b.SAVE_PRECISION
         FROM
           CON_RES a,
           CBEC_CURRENCY_TYPE b
         WHERE
           a.CURRENCY_TYPE_ID = b.CURRENCY_TYPE_ID
           AND a.UNIT_PRECISION <> b.SAVE_PRECISION
           AND to_char(a.CON_RES_ID) IN ( SELECT DISTINCT value_string FROM REF_VALUE )"

    Zone Same zone value exists in different zone:
      sql:
    #检查一个zone map下一个zone value同时存在不同的zone里
        "select distinct a.zone_map_id,
                 a.zone_map_name,
                 a.zone_id,
                 a.zone_name,
                 a.value
            from (select c.zone_map_id,
                c.zone_map_name,
                a.zone_id,
                a.zone_name,
                b.value
            from %(cpc_user_name)s.zone a, %(cpc_user_name)s.zone_value b, %(cpc_user_name)s.zone_map c
            where a.zone_id = b.zone_id
            and a.zone_map_id = c.zone_map_id
            and b.exp_date is null) a,
            (select c.zone_map_id,
                c.zone_map_name,
                a.zone_id,
                a.zone_name,
                b.value
           from %(cpc_user_name)s.zone a, %(cpc_user_name)s.zone_value b, %(cpc_user_name)s.zone_map c
            where a.zone_id = b.zone_id
            and a.zone_map_id = c.zone_map_id
            and b.exp_date is null) b
            where a.zone_map_id = b.zone_map_id
            and a.value = b.value
            and a.zone_id <> b.zone_id"

    Workflow use Assign error:
      sql:
    #检查分拣里使用Assign函数时，是否存在把一个属性值直接Assign给另外一个属性，或者使用Assign赋予值时，忘记填参数了
        "select e.workflow_name,i.workflow_type_name,d.node_name,c.sort_rule_name,g.re_attr_name,a.function,h.re_attr_name
            from
                (
                select step_id,function,src_re_attr,obj_re_attr from %(cpc_user_name)s.bwf_action  where function='Assign' and src_re_attr<>obj_re_attr
                union all
                select step_id,function,src_re_attr,obj_re_attr from %(cpc_user_name)s.bwf_action  where function='Assign' and src_re_attr=obj_re_attr
                and param1 is null ) a,
                %(cpc_user_name)s.bwf_step c,
                %(cpc_user_name)s.bwf_node d,
                %(cpc_user_name)s.bwf_workflow e,
                %(cpc_user_name)s.re_attr g,
                %(cpc_user_name)s.re_attr h ,
                %(cpc_user_name)s.workflow_type i
            where a.step_id=c.step_id
            and c.node_id=d.node_id
            and d.workflow_id=e.workflow_id
            and a.src_re_attr=g.re_attr
            and a.obj_re_attr=h.re_attr
            and e.workflow_type in ('A','B','D','P')
            and e.workflow_type=i.workflow_type"

    The reservation rule of event is one Occurrence but configured multiple on price plan:
      sql:
     #事件配置的预留是按次预留，但是资费配置的是多次扣多少钱,只检查简单资费
        "select * from (
            select a.re_id,b.re_attr,c.re_attr_name
            from
                %(cpc_user_name)s.re a,
                %(cpc_user_name)s.reserve_limit b,
                %(cpc_user_name)s.re_attr c,
                %(cpc_user_name)s.reserve_re_attr d,
                %(cpc_user_name)s.def_re_attr e
            where a.re_id=b.re_id
            and b.re_attr=c.re_attr
            and c.re_attr=e.re_attr
            and e.def_re_attr=d.re_attr
            and d.re_attr_name='Occurrence') a,
            (
            select pp.price_plan_id,pp.price_plan_name,pp.price_plan_type,pp.state, re.re_id,re.re_name,p.price_id,p.price_name,p.re_attr,ra.re_attr_name,p.rum
            from
                %(cpc_user_name)s.price_plan pp,
                %(cpc_user_name)s.price_plan_ver ppv,
                %(cpc_user_name)s.price_plan_member ppm,
                %(cpc_user_name)s.re_price_set rps,
                %(cpc_user_name)s.rate_plan rp,
                %(cpc_user_name)s.rate_plan_zone rpz,
                %(cpc_user_name)s.mapping m,
                %(cpc_user_name)s.price_ver pv,
                %(cpc_user_name)s.price p,
                %(cpc_user_name)s.re re,
                %(cpc_user_name)s.MAPPING_UNIT mu,
                %(cpc_user_name)s.re_attr ra
            where pp.price_plan_id = ppv.price_plan_id
                 and pp.state<>'C'
                 and ppv.price_plan_ver_id = ppm.price_plan_ver_id
                 and ppm.price_set_id = rps.price_set_id
                 and rps.re_id = re.re_id
                 and rp.re_price_set_id = rps.re_price_set_id
                 and m.rate_plan_id = rp.rate_plan_id
                 and pv.mapping_id = m.mapping_id
                 and p.price_ver_id = pv.price_ver_id
                 and rp.rate_plan_id = rpz.rate_plan_id(+)
                 and m.mapping_id = mu.mapping_id(+)
                 and p.re_attr=ra.re_attr ) b
            where a.re_id=b.re_id
            and a.re_attr=b.re_attr
            and b.rum not in ('1','-1')"
