UserList:
  cpc

param_list:
  WarningData:
    cpc_user_name:
      cpc
  BadData:
    cpc_user_name:
      cpc
  ErrorData:
    cpc_user_name:
      cpc

#price check sql
WarningData:
    Charging Workflow use the condition != :
      #V9分拣里使用 ！= 不等于时，如果属性值为空，也会满足条件，需要单独拿出来确认
      # which means even the attribute value is null it still satisfied;need to check
      des: V9分拣里使用 ！= 不等于时，如果属性值为空，也会满足条件，需要单独拿出来确认
      area: comm
      sql:

        "SELECT e.workflow_name,d.node_name,c.sort_rule_name, f.re_attr_name,a.cond_group_id,a.function,g.sort_operator_name,
                 CASE  WHEN a.is_const='Y' THEN a.operand
                       WHEN a.is_const='N' THEN h.re_attr_name ELSE '' END R_VALUE
         FROM bwf_cond a
         INNER JOIN bwf_cond_group b
         ON a.cond_group_id=b.cond_group_id
         INNER JOIN bwf_step c
         ON b.step_id=c.step_id
         INNER JOIN bwf_node d
         ON c.node_id=d.node_id
         INNER JOIN bwf_workflow e
         ON d.workflow_id=e.workflow_id
         INNER JOIN re_attr f
         ON a.re_attr=f.re_attr
         INNER JOIN sort_operator g
         ON a.sort_operator=g.sort_operator
         LEFT JOIN re_attr h
         ON a.r_re_attr=h.re_attr
         WHERE a.sort_operator='4'"

    Event exists in sort rule but not in price:
      #分拣输出事件，但是资费里面没有配置这个事件
      des: 分拣输出事件，但是资费里面没有配置这个事件
      area: comm
      sql: "select a1.SORT_RULE_NAME, c.re_id, c.re_name
         from bwf_step a1,
              bwf_action a,
              re_attr b,
              re c,
              def_re_attr d,
              reserve_re_attr e
         where a1.STEP_ID = a.STEP_ID
           and (a1.EXP_DATE is null or a1.EXP_DATE > now())
           and a.src_re_attr = b.re_attr
           and a.param1 = c.re_id
           and b.re_attr = d.re_attr
           and d.def_re_attr = e.re_attr
           and e.re_attr = 21
           and c.re_id not in (select re_id from re_price_set)"

    Tariff plan param value and Offer param value is not equal:
        # 销售品参数和资费计划参数值不一致
      sql: "
        SELECT tariff_plan_id,label_name,t1.param_value,t2.param_value FROM offer_pricing_param t1
        LEFT JOIN tariff_plan_param t2
        ON t1.tariff_plan_param_id = t2.tariff_plan_param_id
        WHERE CONVERT(t1.param_value ,DECIMAL)<>CONVERT(t2.param_value ,DECIMAL)"

    # 一次性费赠送账本没有配置触发器(暂时剔除不限量账本)
    OTC benefit lacks a trigger:
      sql: "
        SELECT t2.offer_id,t1.acct_res_id,t4.acct_res_name
        FROM cpc_otc_price_benefit t1
        LEFT JOIN cpc_otc_price t2
        ON t1.price_id = t2.price_id
        LEFT JOIN bal_trigger t3
        ON t1.acct_res_id = t3.acct_res_id
        INNER JOIN cbec_acct_res t4
        ON t1.acct_res_id = t4.acct_res_id
        AND (t4.unlimited_flag = 'N' OR t4.unlimited_flag IS NULL)
        WHERE benefit_id >10000
        AND t3.trigger_id IS NULL"

    # 租费赠送账本没有配置触发器期(暂时剔除不限量账本)
    Recurring benefit lacks a trigger:
      sql: "
        SELECT t11.price_plan_name,t7.rate_plan_name,t4.price_name,t2.acct_res_name
        FROM sub_bal_type t1
        INNER JOIN cbec_acct_res t2
        ON t1.acct_res_id = t2.acct_res_id
        AND (t2.unlimited_flag = 'N' OR t2.unlimited_flag IS NULL)
        LEFT JOIN bal_trigger t3
        ON t1.acct_res_id = t3.acct_res_id
        INNER JOIN event_benefit t4
        ON t1.sub_bal_type_id = t4.sub_bal_type_id
        INNER JOIN price_ver t5
        ON t5.price_ver_id = t4.price_ver_id
        INNER JOIN mapping t6
        ON t5.mapping_id = t6.mapping_id
        INNER JOIN rate_plan t7
        ON t7.rate_plan_id = t6.rate_plan_id
        INNER JOIN re_price_set t8
        ON t7.re_price_set_id = t8.re_price_set_id
        INNER JOIN price_plan_member t9
        ON t8.price_set_id = t9.price_set_id
        INNER JOIN price_plan_ver t10
        ON t9.price_plan_ver_id = t10.price_plan_ver_id
        INNER JOIN price_plan t11
        ON t11.price_plan_id = t10.price_plan_id
        WHERE t1.sub_bal_type_id>10000
        AND t3.trigger_id IS NULL"

    # L类型的账本的触发器建议配置在个性化资费下(可能会触发多条通知)
    Trigger for L type of Blance Type should be system price plan:
      sql: "
        SELECT t11.price_plan_name,t1.acct_res_name
        FROM cbec_acct_res t1
        INNER JOIN bal_trigger t2
        ON t1.acct_res_id = t2.acct_res_id
        INNER JOIN price_plan_member t9
        ON t2.price_set_id = t9.price_set_id
        INNER JOIN price_plan_ver t10
        ON t9.price_plan_ver_id = t10.price_plan_ver_id
        INNER JOIN price_plan t11
        ON t11.price_plan_id = t10.price_plan_id
        INNER JOIN
        (
        SELECT t2.price_plan_id,COUNT(*)
        FROM tariff_plan_rela t2
        INNER JOIN offer_price t3
        ON t2.tariff_plan_id =t3.tariff_plan_id
        GROUP BY t2.price_plan_id
        HAVING COUNT(*)>1
        )t3
        ON t11.price_plan_id = t3.price_plan_id
        WHERE t1.refillable = 'L'
        AND t11.price_plan_type = 3"
    Consumption Type Detail is empty:
      des: 消费类型下没有配置账本
      sql: "
        select con_res_name
        from con_res t1
        left join con_res_detail t2
        on t1.con_res_id = t2.con_res_id
        where t2.con_res_detail_id is null
        "


BadData:
    Exists price plan state is abnormal:
        #存在未发布的资费计划,
      sql: "
        SELECT t1.price_plan_id,t2.price_plan_ver_id FROM price_plan t1
        INNER JOIN price_plan_ver t2
        ON t1.price_plan_id = t2.price_plan_id
        LEFT JOIN TARIFF_PLAN_RELA T3
        ON T1.PRICE_PLAN_ID = T3.PRICE_PLAN_ID
        WHERE (t1.state='A' OR T2.STATE<>'D') AND (t3.tariff_plan_id IS NOT NULL OR t1.price_plan_type =1)"

    SortRule_OutputRe_No_Reserve:
        # 分拣分拣出了事件，但是在预留规则中没有配置预留，排除短信等特殊不需要预留的事件
      des: 分拣分拣出了事件，但是在预留规则中没有配置预留
      area: comm
      sql:
        "select f.workflow_name, a.PARAM1 as re_id, c.RE_NAME,d.sort_rule_name, e.NODE_NAME
                          from bwf_action   a,
                               def_re_attr  b,
                               re           c,
                               re_usage     g,
                               bwf_step     d,
                               bwf_node     e,
                               bwf_workflow f
                         where a.src_re_attr = a.obj_re_attr
                           and a.src_re_attr = b.re_attr
                           and b.def_re_attr = 21
                           and a.PARAM1 = c.re_id
                           and c.re_id = g.RE_ID
                           and g.PARENT_RE_ID not in (10012,10051)
                           and a.PARAM1 not in (select re_id from reserve_policy)
                           and a.step_id = d.STEP_ID
                           and d.NODE_ID = e.NODE_ID
                           and e.workflow_id = f.workflow_id
                           and f.workflow_type in ('A','B')"

    The re_attr of reservation rule is different with the re_attr configured in price plan:
        #事件配置的预留规则与资费里配置的扣费单位不一致，比如预留配置的是秒，但是扣费是按次扣费
      des: 事件配置的预留规则与资费里配置的扣费单位不一致，比如预留配置的是秒，但是扣费是按次扣费
      area: comm
      sql:
        "SELECT * FROM
         	(
         	SELECT
         		a.re_id,b.re_attr,c.re_attr_name
         	FROM
         		re a,
         		reserve_limit b,
         		re_attr c
         	WHERE
         		a.re_id = b.re_id
         		AND b.re_attr = c.re_attr
         	) a,
         	(
         	SELECT
         		pp.price_plan_id,
         		pp.price_plan_name,
         		pp.price_plan_type,
         		pp.state,
         		re.re_id,
         		re.re_name,
         		p.price_id,
         		p.price_name,
         		p.re_attr,
         		ra.re_attr_name
         	FROM
         		price_plan pp
         		INNER JOIN price_plan_ver ppv
         		INNER JOIN price_plan_member ppm
         		INNER JOIN re_price_set rps
         		INNER JOIN re re
         		INNER JOIN rate_plan rp
         		LEFT JOIN rate_plan_zone rpz ON rp.rate_plan_id = rpz.rate_plan_id
         		INNER JOIN mapping m
         		LEFT JOIN MAPPING_UNIT mu ON m.mapping_id = mu.mapping_id
         		INNER JOIN price_ver pv
         		INNER JOIN price p
         		INNER JOIN re_attr ra
         	WHERE
         		pp.price_plan_id = ppv.price_plan_id
         		AND pp.state <> 'C'
         		AND ppv.price_plan_ver_id = ppm.price_plan_ver_id
         		AND ppm.price_set_id = rps.price_set_id
         		AND rps.re_id = re.re_id
         		AND rps.re_price_set_id = rp.re_price_set_id
         		AND rp.rate_plan_id = m.rate_plan_id
         		AND m.mapping_id = pv.mapping_id
         		AND pv.price_ver_id = p.price_ver_id
         		AND p.re_attr = ra.re_attr
         	) b
         WHERE
         	a.re_id = b.re_id AND a.re_attr <> b.re_attr"



ErrorData:
    Zone Same zone value exists in different zone:
        #检查一个zone map下一个zone value同时存在不同的zone里
      des: 检查一个zone map下一个zone value同时存在不同的zone里
      area: comm
      sql:
        "select d.zone_map_id,d.zone_map_name,d.value from (
        select c.zone_map_id,c.zone_map_name,a.zone_id,a.zone_name,b.value
        from
            zone a,
            zone_value b,
            zone_map c
        where a.zone_id=b.zone_id
        and a.zone_map_id=c.zone_map_id ) d
        group by d.zone_map_id,d.zone_map_name,d.value
        having count(1)>1"

    Individual price plan Dont realte to tariff plan:
        #个性化资费计划没有关联tariff plan
      des: 个性化资费计划没有关联tariff plan
      area: comm
      sql:
        "SELECT
                  *
               FROM
                  price_plan pp
               WHERE
                  pp.STATE = 'B'
                  AND pp.PRICE_PLAN_TYPE = '3'
                  AND pp.PRICE_PLAN_ID > 0
                  AND NOT EXISTS (
                  SELECT
                      1
                  FROM
                      tariff_plan tp,
                      tariff_plan_rela tpr
                  WHERE
                      tp.STATE = 'B'
                      AND tpr.STATE = 'B'
                      AND tp.tariff_plan_id = tpr.tariff_plan_id
                      AND tpr.price_plan_id = pp.price_plan_id
                  )"

    Workflow use Assign error:
        #检查分拣里使用Assign函数时，是否存在把一个属性值直接Assign给另外一个属性，或者使用Assign赋予值时，忘记填参数了
      des: 检查分拣里使用Assign函数时，是否存在把一个属性值直接Assign给另外一个属性，或者使用Assign赋予值时，忘记填参数了
      area: comm
      sql:
        "select e.workflow_name,i.workflow_type_name,d.node_name,c.sort_rule_name,g.re_attr_name,a.function,h.re_attr_name
            from
                (
                select step_id,`function`,src_re_attr,obj_re_attr from bwf_action  where `function`='Assign' and src_re_attr<>obj_re_attr
                union all
                select step_id,`function`,src_re_attr,obj_re_attr from bwf_action  where `function`='Assign' and src_re_attr=obj_re_attr
                and param1 is null ) a,
                bwf_step c,
                bwf_node d,
                bwf_workflow e,
                re_attr g,
                re_attr h ,
                workflow_type i
            where a.step_id=c.step_id
            and c.node_id=d.node_id
            and d.workflow_id=e.workflow_id
            and a.src_re_attr=g.re_attr
            and a.obj_re_attr=h.re_attr
            and e.workflow_type in ('A','B','D','P')
            and e.workflow_type=i.workflow_type"

    Recurring benefit accout not used in price:
        #租费赠送的帐本，未在使用费里使用
      des: 租费赠送的帐本，未在使用费里使用
      area: comm
      sql:
        "SELECT *
         FROM
         	SUB_BAL_TYPE sbt
         WHERE
         	NOT EXISTS (
         	SELECT 1
         	FROM
         		ref_value rv,con_res_detail crd
         	WHERE
         		rv.REF_VALUE_TYPE = '9'
         		AND rv.VALUE_STRING = crd.CON_RES_ID
         		AND crd.ACCT_RES_ID = sbt.ACCT_RES_ID
         	)"

    Precision not correct:
      sql:
        #精度问题，# By QLR
        "SELECT
                  a.UNIT_PRECISION,
                  b.SAVE_PRECISION
                FROM
                  CON_RES a,
                  CBEC_CURRENCY_TYPE b
                WHERE
                  a.CURRENCY_TYPE_ID = b.CURRENCY_TYPE_ID
                  AND a.UNIT_PRECISION <> b.SAVE_PRECISION
                  AND a.CON_RES_ID IN ( SELECT DISTINCT CON_RES_ID FROM PRICE )"

    Recurring workflow lost:
      # 租费事件没有配置前分拣和后分拣
      sql: "SELECT t5.price_plan_name,t3.workflow_name,t4.workflow_name post_workflow
      FROM `re_pp_recurring` t1
      LEFT JOIN re_price_set t2
      ON t1.re_id =t2.re_id
      LEFT JOIN bwf_workflow t3
      ON t2.workflow_id = t3.workflow_id
      LEFT JOIN bwf_workflow t4
      ON t2.post_workflow_id = t4.workflow_id
      INNER JOIN price_plan t5
      ON t5.price_plan_id = t1.price_plan_id
      WHERE t5.price_plan_type = 3
      AND T5.state = 'B'
      AND (t4.workflow_id IS NULL OR t3.workflow_id IS NULL)"
    Recurring Benfit Value >0:
      des: 租费赠送配置为正数
      sql: " SELECT
      t1.price_name,
      t22.param_name,
      t10.value_string benefit_value,
      t10.ref_value_type
      FROM event_benefit t1
      LEFT JOIN ref_value t10
      ON t1.ref_value_id = t10.ref_value_id
      INNER JOIN price_ver t12
      ON t1.price_ver_id = t12.price_ver_id
      INNER JOIN mapping t13
      ON t12.mapping_id = t13.mapping_id
      INNER JOIN rate_plan t14
      ON t13.rate_plan_id = t14.rate_plan_id
      INNER JOIN re_price_set t15
      ON t14.re_price_set_id = t15.re_price_set_id
      INNER JOIN re t16
      ON t15.re_id = t16.re_id
      LEFT JOIN param_define t22
      ON t22.param_id = t10.value_string
      WHERE t16.re_type = 9
      AND t10.ref_value_type = 1
      AND CONVERT(t10.value_string , DECIMAL)>0"
    Recurring Benfit Param Value >0:
      des: 租费赠送参数配置为正数
      sql: "
      SELECT
      t31.price_plan_id,
      t32.tariff_plan_id,
      t22.param_name,
      t10.value_string benefit_value,
      t10.ref_value_type,
      t34.param_value
      FROM event_benefit t1
      LEFT JOIN ref_value t10
      ON t1.ref_value_id = t10.ref_value_id
      INNER JOIN price_ver t12
      ON t1.price_ver_id = t12.price_ver_id
      INNER JOIN mapping t13
      ON t12.mapping_id = t13.mapping_id
      INNER JOIN rate_plan t14
      ON t13.rate_plan_id = t14.rate_plan_id
      INNER JOIN re_price_set t15
      ON t14.re_price_set_id = t15.re_price_set_id
      INNER JOIN re t16
      ON t15.re_id = t16.re_id
      LEFT JOIN param_define t22
      ON t22.param_id = t10.value_string
      INNER JOIN re_pp_recurring t31
      ON t16.re_id = t31.re_id
      INNER JOIN tariff_plan_param t32
      ON t31.price_plan_id = t32.price_plan_id
      AND t10.value_string  = t32.param_id
      INNER JOIN offer_price t33
      ON t33.tariff_plan_id= t33.tariff_plan_id
      INNER JOIN offer_pricing_param t34
      ON t33.offer_price_id = t34.offer_price_id
      AND t34.tariff_plan_param_id = t32.tariff_plan_param_id
      WHERE t16.re_type = 9
      AND t10.ref_value_type = 2
      AND CONVERT(t34.param_value , DECIMAL)>0"

    Trigger missing threshold >0:
      des: 触发器漏配阈值没有配置
      sql: "
      SELECT
      t1.trigger_name
      FROM bal_trigger t1
      LEFT JOIN bal_threshold t2
      ON t1.trigger_id = t2.trigger_id
      where t2.bal_threshold_id is null"

    Trigger pecent threshold not between 0 and 1000:
      des: 触发器漏配阈值没有配置
      sql: "
      SELECT
      t1.trigger_name
      FROM bal_trigger t1
      LEFT JOIN bal_threshold t2
      ON t1.trigger_id = t2.trigger_id
      LEFT JOIN ref_value t3
      ON t2.ref_value_id = t3.ref_value_id
      WHERE t2.bal_threshold_id IS NOT NULL
      AND t2.is_ratio = 'Y'
      AND (CAST(t3.value_string AS SIGNED) >1000 OR CAST(t3.value_string AS SIGNED) <0)"

    Trigger fixed threshold >0:
      des: 触发器漏配阈值没有配置
      sql: "
      SELECT
      t1.trigger_name
      FROM bal_trigger t1
      LEFT JOIN bal_threshold t2
      ON t1.trigger_id = t2.trigger_id
      LEFT JOIN ref_value t3
      ON t2.ref_value_id = t3.ref_value_id
      WHERE t2.bal_threshold_id IS NOT NULL
      AND t2.is_ratio = 'N'
      AND CAST(t3.value_string AS SIGNED) >0"

    SetCBECModifyAttrList param2 error(charging workflow):
      des: SetCBECModifyAttrList函数参数2错误,分拣
      sql: "
      SELECT t5.workflow_name,t4.node_name,t3.sort_rule_name FROM bwf_action t1
      INNER JOIN bwf_step t3
      ON t1.step_id =t3.step_id
      INNER JOIN bwf_node t4
      ON t4.node_id = t3.node_id
      INNER JOIN bwf_workflow t5
      ON t5.workflow_id = t4.workflow_id
      LEFT JOIN reserve_re_attr t2
      ON t1.param2= t2.re_attr
      WHERE `function`='SetCBECModifyAttrList'
      AND t2.re_attr IS NULL
      "
    SetCBECModifyAttrList param2 error(charging workflow):
      des: SetCBECModifyAttrList函数参数2错误,资费Action
      sql: "
      SELECT t13.price_plan_name, t9.rate_plan_name, t6.price_name
      FROM action_base t1
      INNER JOIN work_action t3
      ON t1.work_action_id = t3.work_action_id
      INNER JOIN work_node t4
      ON t4.work_node_id = t3.work_node_id
      INNER JOIN price_work_node t5
      ON t5.work_node_id = t4.first_work_node_id
      INNER JOIN price t6
      ON t5.price_id = t6.price_id
      INNER JOIN price_ver t7
      ON t7.price_ver_id = t6.price_ver_id
      INNER JOIN mapping t8
      ON t7.mapping_id = t8.mapping_id
      INNER JOIN rate_plan t9
      ON t9.rate_plan_id = t8.rate_plan_id
      INNER JOIN re_price_set t10
      ON t10.re_price_set_id = t9.re_price_set_id
      INNER JOIN price_plan_member t11
      ON t11.price_set_id = t10.price_set_id
      INNER JOIN price_plan_ver t12
      ON t12.price_plan_ver_id = t11.price_plan_ver_id
      INNER JOIN price_plan t13
      ON t13.price_plan_id = t12.price_plan_id
      LEFT JOIN reserve_re_attr t2
      ON t1.param2= t2.re_attr
      WHERE `function`='SetCBECModifyAttrList'
      AND t2.re_attr IS NULL
      "

