param_list:
    BasicData:
        default_eff_date:
            "to_date('2010-01-01','yyyy-mm-dd')"
        default_exp_date:
            "to_date('2099-12-31', 'yyyy-mm-dd')"
        default_create_date:
            "to_date('2010-01-01','yyyy-mm-dd')"
        default_date_format:
            "'yyyy/mm/dd hh24:mi:ss'"


BasicData:
    mid_table:
        - DC_MAIN_PROD_DEF
        - DC_SUBS_PLAN_DEF
        - DC_RELATE_PROD_DEF
        - DC_GOODS_PROD_DEF
        - DC_PRICE_PLAN_DEF
        - DC_OFFER_CATALOG_DEF
        - DC_OFFER_GROUP_DEF
        - DC_PERIOD_DEF
    dst_table:
        - OFFER
        - SUBS_PLAN
        - INDEP_PROD_SPEC
        - DEPEND_PROD_SPEC
        - PRICE_PLAN
        - SUBS_PRICE_PLAN
        - ACCT_PRICE_PLAN
        - GOODS_PROD_SPEC
        - OFFER_VER
        - OFFER_GROUP
        - OFFER_CATG
        - PERIOD
        - LIFECYCLE_APPLY

    insert_indep_prod_spec:
        - |
            insert into offer(OFFER_ID, OFFER_TYPE, OFFER_NAME, COMMENTS, OFFER_CODE, SALE_LIST_PRICE, RENT_LIST_PRICE, EFF_DATE, EXP_DATE, CREATED_DATE, STATE, STATE_DATE, EFF_TYPE, EXP_OFF, TIME_UNIT, AUTO_CONTINUE_FLAG, CYCLE_QUANTITY, DUPLICATE_FLAG, SP_ID, EXP_TIME_UNIT, AGREEMENT_EFF_TYPE, SALES_RULE_SCRIPT)
            select a.main_prod_id, 2, a.main_prod_name, a.remark, a.main_prod_code, null, null,
                   nvl(to_date(a.EFF_DATE, %(default_date_format)s), %(default_eff_date)s) EFF_DATE,
                   nvl(to_date(a.EXP_DATE, %(default_date_format)s), %(default_exp_date)s) EXP_DATE,
                   sysdate,
                   'A',
                   sysdate,
                   decode(a.eff_type, 'Special Day', 'A',
                                      'Instant', 'B',
                                      'Next Day', 'C',
                                      'Next Week', 'D',
                                      'Next Month', 'E',
                                      'Next Billing Cycle', 'F',
                                      'The Cycle After Next Cycle', 'G',
                                      'Special Day|Instant', 'A|B',
                                      'Special Day|Instant|Next Billing Cycle','A|B|F', 'B'),
                   NULL EXP_OFF, NULL TIME_UNIT, NULL AUTO_CONTINUE_FLAG, NULL CYCLE_QUANTITY, NULL DUPLICATE_FLAG, '0' SP_ID, NULL EXP_TIME_UNIT, NULL AGREEMENT_EFF_TYPE, NULL SALES_RULE_SCRIPT
              from DC_MAIN_PROD_DEF a
             where not exists (select 1 from offer o where o.offer_id = a.main_prod_id)

        - |
            insert into indep_prod_spec (indep_prod_spec_id, serv_type, paid_flag, brand_price_plan_id, sp_id)
            select a.main_prod_id, b.serv_type, null, null, '0'
              from DC_MAIN_PROD_DEF a, all_serv_type b
             where a.service_type = b.serv_type||'_'||b.serv_type_name||'('||b.network_type||')'
               and not exists (select 1 from indep_prod_spec o where o.indep_prod_spec_id = a.main_prod_id)

    insert_subs_plan:
        - |
            insert into offer(OFFER_ID, OFFER_TYPE, OFFER_NAME, COMMENTS, OFFER_CODE, SALE_LIST_PRICE, RENT_LIST_PRICE, EFF_DATE, EXP_DATE, CREATED_DATE, STATE, STATE_DATE, EFF_TYPE, EXP_OFF, TIME_UNIT, AUTO_CONTINUE_FLAG, CYCLE_QUANTITY, DUPLICATE_FLAG, SP_ID, EXP_TIME_UNIT, AGREEMENT_EFF_TYPE, SALES_RULE_SCRIPT)
            select a.subs_plan_id, 7, a.subs_plan_name, a.remark, a.subs_plan_code, null, null,
                   nvl(to_date(a.EFF_DATE, %(default_date_format)s), %(default_eff_date)s) EFF_DATE,
                   nvl(to_date(a.EXP_DATE, %(default_date_format)s), %(default_exp_date)s) EXP_DATE,
                   sysdate,
                   'A',
                   sysdate,
                   decode(a.eff_type, 'Special Day', 'A',
                                      'Instant', 'B',
                                      'Next Day', 'C',
                                      'Next Week', 'D',
                                      'Next Month', 'E',
                                      'Next Billing Cycle', 'F',
                                      'The Cycle After Next Cycle', 'G',
                                      'Special Day|Instant', 'A|B',
                                      'Special Day|Instant|Next Billing Cycle','A|B|F', 'B'),
                   NULL EXP_OFF, b.TIME_UNIT, NULL AUTO_CONTINUE_FLAG, a.agreement_period CYCLE_QUANTITY, NULL DUPLICATE_FLAG, '0' SP_ID, NULL EXP_TIME_UNIT,
                   decode(a.AGREEMENT_EFF_TYPE, 'NEXT DAY', 1, 'NEXT MONTH', 2, 'NEXT BILLING CYCLE', 3, 'IN THE MORNING', 4) AGREEMENT_EFF_TYPE,
                   NULL SALES_RULE_SCRIPT
              from DC_SUBS_PLAN_DEF a, time_unit b
             where a.agreement_period_unit = b.time_unit_name(+)
               and not exists (select 1 from offer o where o.offer_id = a.subs_plan_id)

        - |
            insert into subs_plan(SUBS_PLAN_ID, INDEP_PROD_SPEC_ID, PRIORITY, SALE_FLAG, IS_BUNDLE_FLAG, SP_ID, paid_flag)
            select a.subs_plan_id, a.main_prod_id, 1, 0, 'N', '0', a.paid_flag
              from DC_SUBS_PLAN_DEF a
             where not exists (select 1 from subs_plan o where o.SUBS_PLAN_ID = a.subs_plan_id)

        - |
            insert into lifecycle_apply(offer_id, lifecycle_type, sp_id)
            select a.subs_plan_id, b.lifecycle_type, '0'
              from DC_SUBS_PLAN_DEF a, lifecycle_type b
             where a.lifecycle_type = b.lifecycle_type_name
               and not exists (select 1 from lifecycle_apply o where o.offer_id = a.subs_plan_id)

        - |
            insert into offer_ver(offer_ver_id, offer_id, eff_date, exp_date, seq, sp_id, state)
            select a.subs_plan_id, a.subs_plan_id, nvl(to_date(a.EFF_DATE, %(default_date_format) s), %(default_eff_date) s) eff_date, null, 1, '0', 'A'
              from DC_SUBS_PLAN_DEF a
             where not exists (select 1 from offer_ver b where a.subs_plan_id = b.offer_id and a.subs_plan_id = b.offer_ver_id)

    insert_depend_prod_spec:
        - |
            insert into offer(OFFER_ID, OFFER_TYPE, OFFER_NAME, COMMENTS, OFFER_CODE, SALE_LIST_PRICE, RENT_LIST_PRICE, EFF_DATE, EXP_DATE, CREATED_DATE, STATE, STATE_DATE, EFF_TYPE, EXP_OFF, TIME_UNIT, AUTO_CONTINUE_FLAG, CYCLE_QUANTITY, DUPLICATE_FLAG, SP_ID, EXP_TIME_UNIT, AGREEMENT_EFF_TYPE, SALES_RULE_SCRIPT)
            select a.relate_prod_id, 3, a.relate_prod_name, a.remark, a.relate_prod_code, null, null,
                   nvl(to_date(a.EFF_DATE, %(default_date_format)s), %(default_eff_date)s) EFF_DATE,
                   nvl(to_date(a.EXP_DATE, %(default_date_format)s), %(default_exp_date)s) EXP_DATE,
                    sysdate,
                   'A',
                   sysdate,
                   decode(a.eff_type, 'Special Day', 'A',
                                      'Instant', 'B',
                                      'Next Day', 'C',
                                      'Next Week', 'D',
                                      'Next Month', 'E',
                                      'Next Billing Cycle', 'F',
                                      'The Cycle After Next Cycle', 'G',
                                      'Special Day|Instant', 'A|B',
                                      'Special Day|Instant|Next Billing Cycle','A|B|F', 'B'),
                   a.validity_period EXP_OFF,
                   c.TIME_UNIT,
                   a.auto_renew_flag AUTO_CONTINUE_FLAG,
                   a.agreement_period CYCLE_QUANTITY,
                   decode(a.duplicate_order, 'Don''t Allow to Duplicate Order', 'A',
                                             'Extend Effective Of Old Instance From Sysdate', 'B',
                                             'Add A Instance', 'C',
                                             'Add A Instance And Cancel Old One', 'D',
                                             'Extend Effective Of Old Instance From ExpDate', 'E',
                                             'Add A Instance EffDate Equal Old ExpDate', 'F') DUPLICATE_FLAG,
                   '0' SP_ID,
                   b.time_unit EXP_TIME_UNIT,
                   decode(a.AGREEMENT_EFF_TYPE, 'NEXT DAY', 1, 'NEXT MONTH', 2, 'NEXT BILLING CYCLE', 3, 'IN THE MORNING', 4) AGREEMENT_EFF_TYPE,
                   NULL SALES_RULE_SCRIPT
              from DC_RELATE_PROD_DEF a, time_unit b, time_unit c
             where a.validity_period_unit = b.time_unit_name(+)
               and a.agreement_period_unit = c.time_unit_name(+)
               and not exists (select 1 from offer o where o.OFFER_ID = a.relate_prod_id)

        - |
            INSERT INTO DEPEND_PROD_SPEC(DEPEND_PROD_SPEC_ID,SERV_TYPE,IS_PACKAGE,SP_ID,NETWORK_TYPE,GROUP_TYPE,UPPER_LIMIT,LOWER_LIMIT)
            select a.relate_prod_id, b.serv_type, decode(a.package_mode, null, 'N', 'Y'), 0, b.NETWORK_TYPE, decode(a.package_mode,'Select All', 'A', 'Single Choice', 'B', 'Muti-Choice', 'C'), null, null
              from DC_RELATE_PROD_DEF a, (select b1.serv_type, b1.serv_type||'_'||b1.serv_type_name||'('||b1.network_type||')' serv_type_name, b1.NETWORK_TYPE from all_serv_type b1)b
             where a.service_type = b.serv_type_name(+)
               and not exists (select 1 from DEPEND_PROD_SPEC o where o.DEPEND_PROD_SPEC_ID = a.relate_prod_id)

    insert_price_plan:
        - |
            insert into offer(OFFER_ID, OFFER_TYPE, OFFER_NAME, COMMENTS, OFFER_CODE, SALE_LIST_PRICE, RENT_LIST_PRICE, EFF_DATE, EXP_DATE, CREATED_DATE, STATE, STATE_DATE, EFF_TYPE, EXP_OFF, TIME_UNIT, AUTO_CONTINUE_FLAG, CYCLE_QUANTITY, DUPLICATE_FLAG, SP_ID, EXP_TIME_UNIT, AGREEMENT_EFF_TYPE, SALES_RULE_SCRIPT)
            select a.price_plan_id, 4, a.price_plan_name, a.remark, a.price_plan_code, null, null,
                   nvl(to_date(a.EFF_DATE, %(default_date_format)s), %(default_eff_date)s) EFF_DATE,
                   nvl(to_date(a.EXP_DATE, %(default_date_format)s), %(default_exp_date)s) EXP_DATE,
                    sysdate,
                   'A',
                   sysdate,
                   decode(a.eff_type, 'Special Day', 'A',
                                      'Instant', 'B',
                                      'Next Day', 'C',
                                      'Next Week', 'D',
                                      'Next Month', 'E',
                                      'Next Billing Cycle', 'F',
                                      'The Cycle After Next Cycle', 'G',
                                      'Special Day|Instant', 'A|B',
                                      'Special Day|Instant|Next Billing Cycle','A|B|F', 'B'),
                   a.validity_period EXP_OFF,
                   c.TIME_UNIT,
                   a.auto_renew_flag AUTO_CONTINUE_FLAG,
                   a.agreement_period CYCLE_QUANTITY,
                   decode(a.duplicate_order, 'Don''t Allow to Duplicate Order', 'A',
                                             'Extend Effective Of Old Instance From Sysdate', 'B',
                                             'Add A Instance', 'C',
                                             'Add A Instance And Cancel Old One', 'D',
                                             'Extend Effective Of Old Instance From ExpDate', 'E',
                                             'Add A Instance EffDate Equal Old ExpDate', 'F') DUPLICATE_FLAG,
                   '0' SP_ID,
                   b.TIME_UNIT EXP_TIME_UNIT,
                   decode(a.AGREEMENT_EFF_TYPE, 'NEXT DAY', 1, 'NEXT MONTH', 2, 'NEXT BILLING CYCLE', 3, 'IN THE MORNING', 4) AGREEMENT_EFF_TYPE,
                   NULL SALES_RULE_SCRIPT
              from DC_PRICE_PLAN_DEF a, time_unit b, time_unit c
             where a.validity_period_unit = b.time_unit_name(+)
               and a.agreement_period_unit = c.time_unit_name(+)
               and not exists (select 1 from offer o where o.OFFER_ID = a.price_plan_id)

        - |
            insert into price_plan(price_plan_id, apply_level, serv_type, priority, is_package, policy_flag, group_type, upper_limit, lower_limit, sp_id)
            select a.price_plan_id, c.apply_level, null, a.priority, decode(a.package_mode, null, 'N', 'Y'), a.policy_flag, decode(a.package_mode,'Select All', 'A', 'Single Choice', 'B', 'Muti-Choice', 'C'), null, null, '0'
              from dc_price_plan_def a, price_plan_type b, apply_level c
             where a.price_plan_type_name = b.price_plan_type_name
               and a.apply_level = c.apply_level_name
               and not exists (select 1 from price_plan d where a.price_plan_id = d.price_plan_id)

        - |
            insert into subs_price_plan(price_plan_id, price_plan_type, sp_id)
            select a.price_plan_id, b.price_plan_type, '0'
              from dc_price_plan_def a, price_plan_type b
             where a.apply_level = 'Subscription Level'
               and a.price_plan_type_name = b.price_plan_type_name
               and not exists (select 1 from subs_price_plan d where a.price_plan_id = d.price_plan_id)

        - |
            insert into acct_price_plan(price_plan_id, price_plan_type,sp_id)
            select a.price_plan_id, b.price_plan_type, '0'
              from dc_price_plan_def a, price_plan_type b
             where a.apply_level = 'Account Level'
               and a.price_plan_type_name = b.price_plan_type_name
               and not exists (select 1 from subs_price_plan d where a.price_plan_id = d.price_plan_id)

    insert_goods_prod_spec:
        - |
            insert into offer(OFFER_ID, OFFER_TYPE, OFFER_NAME, COMMENTS, OFFER_CODE, SALE_LIST_PRICE, RENT_LIST_PRICE, EFF_DATE, EXP_DATE, CREATED_DATE, STATE, STATE_DATE, EFF_TYPE, EXP_OFF, TIME_UNIT, AUTO_CONTINUE_FLAG, CYCLE_QUANTITY, DUPLICATE_FLAG, SP_ID, EXP_TIME_UNIT, AGREEMENT_EFF_TYPE, SALES_RULE_SCRIPT)
            select a.goods_prod_id, 5, a.goods_prod_name, a.remark, a.goods_prod_code, sale_price, null,
                   nvl(to_date(a.EFF_DATE, %(default_date_format)s), %(default_eff_date)s) EFF_DATE,
                   nvl(to_date(a.EXP_DATE, %(default_date_format)s), %(default_exp_date)s) EXP_DATE,
                   sysdate,
                   'A',
                   sysdate,
                   'B',
                   NULL EXP_OFF, b.TIME_UNIT, NULL AUTO_CONTINUE_FLAG, a.agreement_period CYCLE_QUANTITY, NULL DUPLICATE_FLAG, '0' SP_ID, NULL EXP_TIME_UNIT,
                   null AGREEMENT_EFF_TYPE,
                   NULL SALES_RULE_SCRIPT
              from DC_GOODS_PROD_DEF a, time_unit b
             where a.agreement_period_unit = b.time_unit_name(+)
               and not exists (select 1 from offer o where o.OFFER_ID = a.goods_prod_id and offer_type = 5)

        - |
            INSERT INTO goods_prod_spec(goods_prod_spec_id, model_id, is_package, input_sale_price, sp_id, group_type, upper_limit, lower_limit)
            select a.goods_prod_id, b.model_id, decode(a.package_mode, null, 'N', 'Y'),  'N', '0', decode(a.package_mode,'Select All', 'A', 'Single Choice', 'B', 'Muti-Choice', 'C'), null, null
              from DC_GOODS_PROD_DEF a, crm.gm_model b
             where a.goods_model_code = b.mode_code
               and not exists (select 1 from goods_prod_spec o where o.goods_prod_spec_id = a.goods_prod_id)

    insert_offer_group:
        - |
            insert into offer_group(offer_group_id, offer_group_name, offer_group_code, offer_group_type, group_type, upper_limit, lower_limit, eff_date, exp_date, created_date, state, state_date, share_flag, network_type, comments, sp_id, indep_prod_spec_id, offer_ver_id)
            select offer_group_id_seq.nextval, a.offer_group_name, a.offer_group_code, decode(a.group_type, 'Default Price Plan Group', 6, 'Related Product Group', 3, 'Price Plan Group', 4, 'Goods Product Group', 5)  offer_group_type,
                   decode(a.group_mode, 'Select All', 'A', 'Single Choice', 'B', 'Muti-Choice', 'C'), a.upper_limit, a.lower_limit, nvl(to_date(a.EFF_DATE, %(default_date_format) s), %(default_eff_date) s) eff_date,
                   nvl(to_date(a.EXP_DATE, %(default_date_format) s), %(default_exp_date) s) exp_date, %(default_create_date) s CREATED_DATE, 'A',%(default_create_date) s STATE_DATE,
                   2, null, a.remark, '0', null, null
              from DC_OFFER_GROUP_DEF a
             where not exists (select 1 from offer_group b
               where a.offer_group_name = b.offer_group_name
                 and decode(a.group_type, 'Default Price Plan Group', 6, 'Related Product Group', 3, 'Price Plan Group', 4, 'Goods Product Group', 5) = b.offer_group_type
                 and decode(a.group_mode, 'Select All', 'A', 'Single Choice', 'B', 'Muti-Choice', 'C') = b.group_type)

    insert_offer_catg:
        - |
            insert into offer_catg (OFFER_CATG_ID, OFFER_CATG_TYPE, OFFER_CATG_CLASS, OFFER_CATG_NAME, COMMENTS, OFFER_CATG_CODE, EFF_DATE, EXP_DATE, STATE, STATE_DATE, CREATED_DATE, SP_ID, POLICY_FLAG)
            select offer_catg_id_seq.nextval, decode(a.offer_catg_type, 'Bundle', 1, 'Main Product', 2, 'Related Product', 3, 'Price Plan', 4, 'Goods Product', 5) OFFER_CATG_TYPE,
                   decode(a.offer_catg_class, 'Management Catalog', 'A', 'Sales Catalog', 'B') offer_catg_class, a.offer_catg_name, a.remark, a.offer_group_code,
                   nvl(to_date(a.EFF_DATE, %(default_date_format) s), %(default_eff_date) s) eff_date,
                   nvl(to_date(a.EXP_DATE, %(default_date_format) s), %(default_exp_date) s) exp_date,
                   'A',%(default_create_date) s STATE_DATE,
                   %(default_create_date) s CREATED_DATE, '0', null
              from DC_OFFER_CATALOG_DEF a
             where not exists (select 1 from offer_catg b
               where a.OFFER_CATG_NAME = b.OFFER_CATG_NAME
                 and decode(a.offer_catg_type, 'Bundle', 1, 'Main Product', 2, 'Related Product', 3, 'Price Plan', 4, 'Goods Product', 5) = b.OFFER_CATG_TYPE
                 and decode(a.offer_catg_class, 'Management Catalog', 'A', 'Sales Catalog', 'B') = b.offer_catg_class)

        - |
            insert into offer_catg_mem (OFFER_CATG_MEM_ID, OFFER_CATG_ID, OFFER_ID, CHILD_OFFER_CATG_ID, SEQ, SP_ID, EFF_DATE, EXP_DATE)
            select offer_catg_mem_id_seq.nextval, c.OFFER_CATG_ID, null, b.OFFER_CATG_ID, rownum, '0', null, null
             from DC_OFFER_CATALOG_DEF a, offer_catg b, offer_catg c
            where a.offer_catg_name = b.offer_catg_name
              and a.parent_offer_catg_name = c.offer_catg_name
              and b.OFFER_CATG_CLASS = c.OFFER_CATG_CLASS
              and b.OFFER_CATG_TYPE = c.OFFER_CATG_TYPE
              and decode(a.offer_catg_class, 'Management Catalog', 'A', 'Sales Catalog', 'B') = b.OFFER_CATG_CLASS
              and decode(a.offer_catg_type, 'Bundle', 1, 'Main Product', 2, 'Related Product', 3, 'Price Plan', 4, 'Goods Product', 5) = b.OFFER_CATG_TYPE
              and not exists (select 1 from offer_catg_mem d where d.OFFER_CATG_ID = c.OFFER_CATG_ID and d.CHILD_OFFER_CATG_ID = b.OFFER_CATG_ID)

    insert_period:
        - |
            insert into period(period_id, abs_eff_date, abs_exp_date, rel_eff_offset, rel_eff_unit, rel_exp_offset, rel_exp_unit,rel_eff_time, rel_exp_time, sp_id)
            select a.period_id, a.abs_eff_date, a.abs_exp_date, a.rel_eff_offset, a.rel_eff_unit, a.rel_exp_offset, a.rel_exp_unit, a.rel_eff_time, a.rel_exp_time, 0
             from DC_PERIOD_DEF a
            where not exists (select 1 from period o where o.period_id = a.period_id)
