param_list:
    BasicData:
        default_eff_date:
            "to_date('2010-01-01','yyyy-mm-dd')"
        default_exp_date:
            "to_date('2099-12-31', 'yyyy-mm-dd')"
        default_date_format:
            "'yyyy/mm/dd hh24:mi:ss'"


BasicData:
    mid_table:
        - DC_OFFER_GROUP_MEM_DEF
        - DC_OFFER_CATG_MEM_DEF
        - DC_OFFER_PACKAGE_DEF
        - DC_OFFER_RELA_DEF
        - DC_SUBSPLAN_OFFERGROUP_REL_DEF
        - DC_OFFER_SALE_CONSTRAINT_DEF
        - DC_OFFER_ATTR_DEF

    dst_table:
        - OFFER_GROUP_MEM
        - SUBS_PLAN_OFFER_SELECT
        - OFFER_RELA
        - OFFER_CATG_MEM
        - OFFER_ATTR
        - SUBS_PLAN_OFFER_ATTR
        - DEPEND_PROD_PACKAGE
        - PRICE_PLAN_PACKAGE
        - GOODS_PROD_PACKAGE


    insert_OFFERGROUPMEM:
        - |
            insert into offer_group_mem(offer_group_mem_id, offer_group_id, offer_id, child_offer_group_id, agreement_period, time_unit, default_flag, hide_flag, seq, sp_id, agreement_eff_type)
            select offer_group_mem_id_seq.nextval, b.offer_group_id, a.offer_id, null, null, null, a.default_flag, null, rownum, '0', null
              from DC_OFFER_GROUP_MEM_DEF a, offer_group b
             where a.offer_group_name = b.offer_group_name
               and not exists (select 1 from offer_group_mem c where c.offer_group_id = b.offer_group_id and c.offer_id = a.offer_id)

    insert_SUBSPLAN-OFFERGROUP:
        - |
            insert into subs_plan_offer_select(offer_ver_id, offer_group_id, necessary, seq, sp_id)
            select b.offer_ver_id, c.offer_group_id, decode(a.isNecessary, 'Y', 1, 0), a.seq, '0'
              from DC_SUBSPLAN_OFFERGROUP_REL_DEF a, offer_ver b, offer_group c
             where a.subs_plan_id = b.offer_id
               and b.eff_date < sysdate
               and (b.exp_date is null or b.exp_date > sysdate)
               and a.offer_group_name = c.offer_group_name
               and not exists (select 1 from subs_plan_offer_select d where d.offer_ver_id = b.offer_ver_id and d.offer_group_id = c.offer_group_id)

    insert_OFFER_RELA:
        - |
            insert into offer_rela(offer_rela_id, ori_offer_id, rela_type, dest_offer_id, sp_id,ori_offer_group_id,dest_offer_group_id)
            select offer_rela_id_seq.nextval offer_rela_id, a.ori_offer_id, b.rela_type, a.dest_offer_id, '0', a.ori_offer_group_id, a.dest_offer_group_id
              from DC_OFFER_RELA_DEF a, rela_type b
             where a.rela_type = b.rela_type_name
               and not exists (select 1 from offer_rela c where a.ori_offer_id = c.ori_offer_id and a.dest_offer_id = c.dest_offer_id)

    insert_OFFERCATGMEM:
        - |
            insert into offer_catg_mem (OFFER_CATG_MEM_ID, OFFER_CATG_ID, OFFER_ID, CHILD_OFFER_CATG_ID, SEQ, SP_ID, EFF_DATE, EXP_DATE)
            select offer_catg_mem_id_seq.nextval, b.OFFER_CATG_ID, a.offer_id, null, rownum, '0',
                   nvl(to_date(a.EFF_DATE, %(default_date_format) s), %(default_eff_date) s) eff_date,
                   nvl(to_date(a.EXP_DATE, %(default_date_format) s), %(default_exp_date) s) exp_date
             from DC_OFFER_CATG_MEM_DEF a, offer_catg b
            where a.offer_catg_name = b.offer_catg_name
              and decode(a.offer_catg_class, 'Management Catalog', 'A', 'Sales Catalog', 'B') = b.OFFER_CATG_CLASS
              and not exists (select 1 from offer_catg_mem d where d.OFFER_CATG_ID = b.OFFER_CATG_ID and d.OFFER_ID = a.OFFER_ID)

    insert_OFFER-ATTR:
        - |
            insert into offer_attr(offer_id, attr_id, default_value, disp_order, sp_id)
            select distinct a.offer_id, b.attr_id, a.default_value, rownum, '0'
              from DC_OFFER_ATTR_DEF a, attr b
             where a.attr_code = b.attr_code
               and a.subs_plan_id is null
               and not exists (select 1 from offer_attr d where d.offer_id = a.offer_id and d.attr_id = b.attr_id)

        - |
            insert into subs_plan_offer_attr(subs_plan_offer_attr_id, offer_ver_id, offer_id, attr_id, default_value, sp_id, exclude_flag)
            select subs_plan_offer_attr_id_seq.nextval, c.offer_ver_id, a.offer_id, b.attr_id, a.default_value, '0', null
              from DC_OFFER_ATTR_DEF a, attr b, offer_ver c
             where a.attr_code = b.attr_code
               and a.subs_plan_id = c.offer_id
               and (c.exp_date > sysdate or c.exp_date is null)
               and c.eff_date < sysdate
               and a.subs_plan_id is not null
               and not exists (select 1 from subs_plan_offer_attr d where d.offer_ver_id = c.offer_ver_id and d.offer_id = a.offer_id and d.attr_id = b.attr_id)

    insert_DC_OFFER_PACKAGE_DEF:
        - |
            insert into depend_prod_package(depend_prod_package_id, mem_depend_prod_spec_id, seq, sp_id, default_flag)
            select a.offer_package_id, a.mem_offer_id, rownum, '0', nvl(a.default_flag, 'N')
              from DC_OFFER_PACKAGE_DEF a, offer b
             where a.offer_package_id = b.offer_id
               and b.offer_type = 3
               and not exists (select 1 from depend_prod_package d where d.depend_prod_package_id = a.offer_package_id and d.mem_depend_prod_spec_id = a.mem_offer_id)

        - |
            insert into price_plan_package(price_plan_package_id, mem_price_plan_id, seq, sp_id, default_flag)
            select a.offer_package_id, a.mem_offer_id, rownum, '0', nvl(a.default_flag, 'N')
              from DC_OFFER_PACKAGE_DEF a, offer b
             where a.offer_package_id = b.offer_id
               and b.offer_type = 4
               and not exists (select 1 from price_plan_package d where d.price_plan_package_id = a.offer_package_id and d.mem_price_plan_id = a.mem_offer_id)

        - |
            insert into goods_prod_package(goods_prod_package_id, mem_goods_prod_spec_id,quantity,sale_list_price, seq, sp_id, default_flag)
            select a.offer_package_id, a.mem_offer_id, 1, null, rownum, '0', nvl(a.default_flag, 'N')
              from DC_OFFER_PACKAGE_DEF a, offer b
             where a.offer_package_id = b.offer_id
               and b.offer_type = 5
               and not exists (select 1 from goods_prod_package d where d.goods_prod_package_id = a.offer_package_id and d.mem_goods_prod_spec_id = a.mem_offer_id)

    insert_OFFER-AREA:
        - |
            insert into offer_apply_area(offer_id, area_id, sp_id)
            select a.offer_id, b.area_id, '0'
              from DC_OFFER_SALE_CONSTRAINT_DEF a, bfm_area b
             where a.constraint_type = 'SALE_AREA'
               and a.constraint_name = b.area_name
               and not exists (select 1 from offer_apply_area d where d.offer_id = a.offer_id and d.area_id = b.area_id)

    insert_OFFER-CATG:
        - |
            insert into offer_apply_catg(offer_id, catg_id, sp_id)
            select a.offer_id, b.catg_id, '0'
              from DC_OFFER_SALE_CONSTRAINT_DEF a, catg b
             where a.constraint_type = 'SALE_CATG'
               and a.constraint_name = b.catg_name
               and not exists (select 1 from offer_apply_catg d where d.offer_id = a.offer_id and d.catg_id = b.catg_id)

    insert_OFFER-CHANNEL:
        - |
            insert into offer_apply_channel(offer_id, contact_channel_id, sp_id)
            select a.offer_id, b.contact_channel_id, '0'
              from DC_OFFER_SALE_CONSTRAINT_DEF a, contact_channel b
             where a.constraint_type = 'SALE_CHANNEL'
               and a.constraint_name = b.contact_channel_name
               and not exists (select 1 from offer_apply_channel d where d.offer_id = a.offer_id and d.contact_channel_id = b.contact_channel_id)

    insert_OFFER-ORG:
        - |
            insert into offer_apply_org(offer_id, org_id, sp_id)
            select a.offer_id, b.org_id, '0'
              from DC_OFFER_SALE_CONSTRAINT_DEF a, bfm_org b
             where a.constraint_type = 'SALE_ORG'
               and a.constraint_name = b.org_name
               and not exists (select 1 from offer_apply_org d where d.offer_id = a.offer_id and d.org_id = b.org_id)

    insert_OFFER-STAFF:
        - |
            insert into offer_apply_staff(offer_id, staff_id, sp_id)
            select a.offer_id, b.staff_id, '0'
              from DC_OFFER_SALE_CONSTRAINT_DEF a, bfm_staff b
             where a.constraint_type = 'SALE_STAFF'
               and a.constraint_name = b.staff_name
               and not exists (select 1 from offer_apply_staff d where d.offer_id = a.offer_id and d.staff_id = b.staff_id)