BasicData:
    mid_table:
        - DC_ADVICE_TYPE_BASIC
        - DC_ADVICE_TYPE_PARAM
        - DC_ADVICE_TYPE_TEMPLET
    dst_table:
        - ADVICE_TYPE
        - ADVICE_TYPE_PARAM
        - ADVICE_TYPE_LANG

    insert_ADVICE_TYPE_BASIC:
        - |
          INSERT INTO ADVICE_TYPE
                                                  (advice_type,ADVICE_CHANNEL,ADVICE_TYPE_NAME,COMMENTS,SUBJECT_DEFINE,DISABLED,EFF_TIME,EXP_TIME,STD_CODE,ADVICE_CATG,IS_HIS,DELAY_TIME,SRC_NBR,SENDER_PARAM,TIMES,TIME_INTERVAL,MSG_DEFINE)
                                                  select advice_id_seq.nextval,b.advice_channel,ADVICE_TYPE_NAME,a.COMMENTS,SUBJECT_DEFINE,DISABLED,to_date(EFF_TIME,'yyyy/mm/dd HH24:mi:ss'),to_date(EXP_TIME,'yyyy/mm/dd HH24:mi:ss'),STD_CODE,c.value,RETAIN_HIS,DELAY_TIME,SRC_NBR,SENDER_PARAM,TIMES,TIME_INTERVAL,ADVICE_MESSAGE
                                                  from DC_ADVICE_TYPE_BASIC a,ADVICE_CHANNEL b,domain c
                                                  where a.advice_channel_name=b.advice_channel_name
                                                  and a.advice_catg_name=c.lookup_name
                                                  and c.column_name='ADVICE_CATG'
    insert_ADVICE_TYPE_PARAM:
        - |
          INSERT INTO ADVICE_TYPE_PARAM
          select advice_param_id_seq.nextval,b.advice_type,null,a.advice_param_name,a.advice_param_code,a.comments,a.rule_flag,a.is_macro,a.is_string,0
          from DC_ADVICE_TYPE_PARAM a,advice_type b
          where a.advice_type_code=b.std_code

    insert_ADVICE_TYPE_LANG:
        - |
          INSERT INTO ADVICE_TYPE_LANG
          (advice_type,def_lang_id,subject_define,msg_define,sender_param)
          SELECT c.advice_type,b.def_lang_id,a.subject_define,a.advice_message,a.sender_param
          FROM DC_ADVICE_TYPE_MULTI_LANG a,def_lang b,advice_type c
          where a.advice_type_code=c.std_code
          and a.def_lang_name=b.def_lang_name


#   insert_ADVICE_TYPE_TEMPLET:
#       - |
#         update advice_type a
#                   set a.msg_define=(select
#                                      replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string1,instr(c.advice_string1,'['),instr(c.advice_string1,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'<',''),'>','')
#                                    ||replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string2,instr(c.advice_string2,'['),instr(c.advice_string2,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'<',''),'>','')
#                                    ||replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string3,instr(c.advice_string3,'['),instr(c.advice_string3,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'<',''),'>','')
#                                    ||replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string4,instr(c.advice_string4,'['),instr(c.advice_string4,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'<',''),'>','')
#                                    ||replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string5,instr(c.advice_string5,'['),instr(c.advice_string5,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'<',''),'>','')
#                                    from DC_ADVICE_TYPE_TEMPLET c
#                                    where a.std_code=c.advice_type_code)
#                   where exists (select 1 from DC_ADVICE_TYPE_TEMPLET b
#                                 where a.std_code=b.advice_type_code
#                                 and b.advice_string1 like '%^%')
#       - |
#         update advice_type a
#              set a.msg_define
#                  = replace(replace(substr(a.msg_define,0,instr(a.msg_define,'^')-1)
#                                      ,'{','str(Param.get('''),'}','''))')||
#                    replace(replace(substr(a.msg_define,instr(a.msg_define,'^'),instr(a.msg_define,'$'))
#                                      ,'{','''+str(Param.get('''),'}','''))+''')
#                   where a.msg_define like '%^%'
#
#       - |
#         update advice_type a
#              set a.msg_define= replace(replace(a.msg_define,'^','strMsg='''),'$','''')
#                   where a.msg_define like '%^%'
#
#       - |
#         update advice_type a
#                   set a.msg_define=(select
#                                      replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string1,instr(c.advice_string1,'['),instr(c.advice_string1,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'{','str(Param.get('''),'}',''')) '),'<',''),'>','')
#                                    ||replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string2,instr(c.advice_string2,'['),instr(c.advice_string2,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'{','str(Param.get('''),'}',''')) '),'<',''),'>','')
#                                    ||replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string3,instr(c.advice_string3,'['),instr(c.advice_string3,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'{','str(Param.get('''),'}',''')) '),'<',''),'>','')
#                                    ||replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string4,instr(c.advice_string4,'['),instr(c.advice_string4,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'{','str(Param.get('''),'}',''')) '),'<',''),'>','')
#                                    ||replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(substr(c.advice_string5,instr(c.advice_string5,'['),instr(c.advice_string5,']')),'[','if '),':',':'||chr(10)||'    '),']',chr(10)),'?',chr(10)||'elif '),'&',' and '),'|',' or '),'{','str(Param.get('''),'}',''')) '),'<',''),'>','')
#                                    ||'strMsg='''
#                                    ||replace(replace(replace(replace(substr(c.advice_string1,instr(c.advice_string1,']')+1),'{','''+str(Param.get('''),'}',''')) +'''),'<','''+'),'>','+''')
#                                    ||replace(replace(replace(replace(substr(c.advice_string2,instr(c.advice_string2,']')+1),'{','''+str(Param.get('''),'}',''')) +'''),'<','''+'),'>','+''')
#                                    ||replace(replace(replace(replace(substr(c.advice_string3,instr(c.advice_string3,']')+1),'{','''+str(Param.get('''),'}',''')) +'''),'<','''+'),'>','+''')
#                                    ||replace(replace(replace(replace(substr(c.advice_string4,instr(c.advice_string4,']')+1),'{','''+str(Param.get('''),'}',''')) +'''),'<','''+'),'>','+''')
#                                    ||replace(replace(replace(replace(substr(c.advice_string5,instr(c.advice_string5,']')+1),'{','''+str(Param.get('''),'}',''')) +'''),'<','''+'),'>','+''')
#                                    ||''''
#                                    from DC_ADVICE_TYPE_TEMPLET c
#                                    where a.std_code=c.advice_type_code)
#                   where exists (select 1 from DC_ADVICE_TYPE_TEMPLET b
#                                 where a.std_code=b.advice_type_code
#                                 and b.advice_string1 not like '%^%')