param_list:

Lifecycle:
  dst_table:
    - cc.lifecycle_apply
    - cc.prod_event_notif
    - cc.prod_event_process
    - cc.prod_event_diagram
    - cc.lifecycle_type

  mid_table:
    - DC_CONFIG_LIFECYCLE_DIAGRAM
    - DC_CONFIG_LIFECYCLE_PROCESS
    - DC_CONFIG_LIFECYCLE_ADVICE
    - DC_CONFIG_LIFECYCLE_OFFER_REL

  insert_DC_CONFIG_LIFECYCLE_DIAGRAM:
    - |
      insert into cc.lifecycle_type
        (lifecycle_type, lifecycle_type_name, comments, sp_id)
        select nvl(max_cnt,0) + rownum, t1.lifecycle_name, t1.lifecycle_name, 0
          from (select lifecycle_name
                  from DC_CONFIG_LIFECYCLE_DIAGRAM t1
                  left join cc.lifecycle_type t2
                    on t1.lifecycle_name = t2.lifecycle_type_name
                 where t2.lifecycle_type is null
                 group by lifecycle_name) t1
          left join (select max(lifecycle_type) max_cnt from cc.lifecycle_type) t2
            on 1 = 1

    - |
      insert into cc.prod_event_diagram
        (node_id,
         src_prod_state,
         subs_event_id,
         obj_prod_state,
         lifecycle_type,
         timer,
         bc_id,
         sp_id)
        select nvl(max_cnt, 0) + rownum,
               t1.src_prod_state,
               t3.subs_event_id,
               t1.obj_prod_state,
               t2.lifecycle_type,
               t1.timer,
               t4.bc_id,
               0
          from DC_CONFIG_LIFECYCLE_DIAGRAM t1
         inner join cc.lifecycle_type t2
            on t1.lifecycle_name = t2.lifecycle_type_name
         inner join CC.SUBS_EVENT t3
            on t1.subs_event_name = '['||T3.SUBS_EVENT_ID||']'||t3.event_name
          left join cc.service_bc t4
            on t4.bc_name = t1.service_name
           and t4.service_rule_type = 7
         inner join (select max(node_id) max_cnt from cc.prod_event_diagram) t5
            on 1 = 1
          left join cc.prod_event_diagram t6
            on t1.src_prod_state = t6.src_prod_state
           and t1.obj_prod_state = t6.obj_prod_state
           and t3.subs_event_id = t6.subs_event_id
           and t2.lifecycle_type = t6.lifecycle_type
         where t6.node_id is null

  insert_DC_CONFIG_LIFECYCLE_PROCESS:
    - |
      insert into cc.prod_event_process
        (node_id, bc_id, priority, avp, sp_id)
        select t4.node_id, t5.bc_id, t1.priority, t1.component_param, 0
          from DC_CONFIG_LIFECYCLE_PROCESS t1
         inner join cc.lifecycle_type t2
            on t1.lifecycle_name = t2.lifecycle_type_name
         inner join CC.SUBS_EVENT t3
            on t1.subs_event_name = '['||T3.SUBS_EVENT_ID||']'||t3.event_name
         inner join cc.prod_event_diagram t4
            on t1.src_prod_state = t4.src_prod_state
           and t3.subs_event_id = t4.subs_event_id
           and t1.obj_prod_state = t4.obj_prod_state
           and t2.lifecycle_type = t4.lifecycle_type
         inner join cc.service_bc t5
            on t1.business_component_name = trim(t5.bc_name)
           and t5.service_rule_type=6
          left join cc.prod_event_process t7
            on t4.node_id = t7.node_id
           and t5.bc_id = t7.bc_id
         where t7.node_id is null

  insert_DC_CONFIG_LIFECYCLE_ADVICE:
    - |
      insert into cc.prod_event_notif
        (node_id, advice_type, sp_id)
        select t4.node_id, t5.advice_type, 0
          from DC_CONFIG_LIFECYCLE_ADVICE t1
         inner join cc.lifecycle_type t2
            on t1.lifecycle_name = t2.lifecycle_type_name
         inner join CC.SUBS_EVENT t3
            on t1.subs_event_name = '['||T3.SUBS_EVENT_ID||']'||t3.event_name
         inner join cc.prod_event_diagram t4
            on t1.src_prod_state = t4.src_prod_state
           and t3.subs_event_id = t4.subs_event_id
           and t1.obj_prod_state = t4.obj_prod_state
           and t2.lifecycle_type = t4.lifecycle_type
         inner join cc.advice_type t5
            on t1.advice_name = t5.advice_type_name
          left join cc.prod_event_notif t6
            on t6.node_id = t4.node_id
           and t6.advice_type = t5.advice_type
         where t6.node_id is null

  insert_DC_CONFIG_LIFECYCLE_OFFER_REL:
    - |
      insert into lifecycle_apply
        (offer_id, lifecycle_type, sp_id)
        select t3.offer_id, t2.lifecycle_type, 0
          from DC_CONFIG_LIFECYCLE_OFFER_REL t1
         inner join cc.lifecycle_type t2
            on t2.lifecycle_type_name = t1.lifecycle_name
         inner join cc.offer t3
            on t3.offer_name = t1.offer_name
           and t3.offer_type in (1,2,3)
          left join lifecycle_apply t4
            on t4.offer_id = t3.offer_id
         where t4.offer_id is null