#Create a comm table for All kinds project

#数据表的命名方式：
#所有的表都是以 DC_ 开头
#接下来就是动作，比如DC_Config_****, DC_Check_*****,DC_Parameter_****
#环境的第一张表就是DC_Comm_Table，所有新增的表，都在这里进行注册，如果需要重新初始化，也可以使用本表进行跟踪
#可以考虑后期的数据版本也可以做对应的记录

create:
    DC_IMPORT_DATA_HIS:
        create table DC_IMPORT_DATA_HIS
        (
        seq_no     INT(11) AUTO_INCREMENT,
        user_name  varchar(32),
        import_time DATETIME,
        import_version varchar(64),
        file_name varchar(128),
        cfg_file_content longtext,
        host_name  varchar(64),
        comments   varchar(512),
        primary key (seq_no)
        )

create_list:
    DC_IMPORT_DATA_HIS:
      - DC_IMPORT_DATA_HIS
      - V20201006
      - table

check:
  topic:
    select distinct topic from DC_COMM_TABLE order by topic
  tables:
    select name,type from DC_COMM_TABLE where topic = %(topic)s
  all_tables:
    select name,type from DC_COMM_TABLE where topic not in ('after_check_mid', 'backup_init','backup_config','DC_IMPORT_DATA_HIS') and type = 'TABLE'
  insert_comm_table:
    insert into DC_COMM_TABLE(name, topic,create_date,version,type,base_table) values(%(table_name)s,%(topic)s,curdate(),%(version)s,%(type)s,%(base_table)s)
  delete_comm_table:
    delete from dc_comm_table where name = %(name)s
