param_list:
  CBEC_Balance:
    default_local_currency_precision:
      -10000
    default_apply_region_id:
      731
    default_create_user:
      3044336
    default_project:
      "'PTCL'"


CBEC_Balance:
  dst_table:
    - cpc.con_res_detail
    - cpc.con_res
    - cpc.cbec_acct_res
    - cpc.cbec_acct_item_type
    - cpc.CBEC_CURRENCY_TYPE


  mid_table:
    - DC_CONFIG_BASIC_BALANCE_INFO
    - DC_CONFIG_ACCT_ITEM
    - DC_CONFIG_CURRENCY_TYPE

  reserve_table:
    CBEC_CURRENCY_TYPE:
      "SELECT * FROM CBEC_CURRENCY_TYPE where CURRENCY_TYPE_ID >= 10000"
    cbec_acct_res:
      "select * from cpc.cbec_acct_res where acct_res_id >= 10000"

    re:
      "select * from cpc.re  where re_id >= 10000 "

  insert_basic_balance:

    - |
      INSERT INTO CPC.CBEC_CURRENCY_TYPE (CURRENCY_TYPE_ID, CURRENCY_CODE, CURRENCY_SYMBOL, CURRENCY_NAME, SAVE_PRECISION,
                                          DISPLAY_SCALE, RATE_DISPLAY_SCALE, ROUND_METHOD, STATE, CREATED_DATE, PARTY_TYPE,
                                          PARTY_CODE)
       select CBEC_CURRENCY_TYPE_SEQ.nextval,
             C.CURRENCY_CODE,
             C.CURRENCY_SYMBOL,
             C.CURRENCY_NAME,
             C.SAVE_PRECISION,
             C.DISPLAY_SCALE,
             C.RATE_DISPLAY_SCALE,
             C.ROUND_METHOD,
             'A',
             SYSDATE,
             NULL,
             NULL
       from DC_CONFIG_CURRENCY_TYPE C
         where c.CURRENCY_CODE not in
           (SELECT CURRENCY_CODE FROM CPC.CBEC_CURRENCY_TYPE)

    - |
      insert into CPC.cbec_acct_res
       (acct_res_id,
        bal_type,
        acct_res_name,
        is_currency,
        comments,
        refillable,
        unit_id,
        unit_precision,
        currency_type_id,
        overdraft_flag,
        state,
        created_date,
        pack_inner,
        exclude_pack_inner)
        select case when t1.PRE_DEF_ACCT_RES_ID is not null then  t1.PRE_DEF_ACCT_RES_ID
                else CBEC_ACCT_RES_SEQ.nextval end,
                decode(t1.bal_type, 'Basic Balance', 1,'Non Currency Balance', 4,'Limited Balance', 2,'Given Balance', 3, 'Bonus Balance', 5, 'Credit Balance', 6),
               t1.acct_res_name,
               t1.is_currency,
               %(default_project)s||t1.old_res_id,
               t1.refillable,
               decode(t1.unit_type,'Second' ,1,'Byte', 4,'Occurrence',8),
               t2.SAVE_PRECISION,
               t2.CURRENCY_TYPE_ID,
               'N',
               'A',
               sysdate,
               'Y',
               'Y'
         from DC_CONFIG_BASIC_BALANCE_INFO t1
               left join  CPC.CBEC_CURRENCY_TYPE t2
               on t1.CURRENCY_CODE = t2.CURRENCY_CODE
               left join CPC.cbec_acct_res t3
               on  t1.ACCT_RES_NAME=t3.ACCT_RES_NAME
          where t1.bal_type = 'Basic Balance'
               and t3.ACCT_RES_ID is null

    - |
      insert into CPC.cbec_acct_res
       (acct_res_id,
        bal_type,
        acct_res_name,
        is_currency,
        comments,
        refillable,
        unit_id,
        unit_precision,
        currency_type_id,
        overdraft_flag,
        state,
        created_date,
        pack_inner,
        exclude_pack_inner)
         select case when t1.PRE_DEF_ACCT_RES_ID is not null then  t1.PRE_DEF_ACCT_RES_ID
                else CBEC_ACCT_RES_SEQ.nextval end,
                decode(t1.bal_type, 'Basic Balance', 1,'Non Currency Balance', 4,'Limited Balance', 2,'Given Balance', 3, 'Bonus Balance', 5, 'Credit Balance', 6),
               t1.acct_res_name,
               t1.is_currency,
               concat(%(default_project)s,t1.old_res_id),
               t1.refillable,
               decode(t1.unit_type,'Second' ,1,'Byte', 4,'Occurrence',8),
               1,
               NULL,
               'N',
               'A',
               sysdate,
               'Y',
               'Y'
          from DC_CONFIG_BASIC_BALANCE_INFO t1
          left join cbec_acct_res t2
               on t2.acct_res_name=t1.acct_res_name
           where t1.bal_type <> 'Basic Balance'
                 and t2.acct_res_name is null
    - |
      insert into CPC.cbec_acct_item_type
       (ACCT_ITEM_TYPE_ID,
        ACCT_RES_ID,
        ACCT_ITEM_TYPE_NAME,
        state,
        created_date,
        comments)
         select CBEC_ACCT_ITEM_TYPE_SEQ.nextval,
               t2.ACCT_RES_ID,
               t2.acct_res_name,
               'A',
               sysdate,
               concat(%(default_project)s,' no currency resources')
          from  DC_CONFIG_BASIC_BALANCE_INFO t1
          left join CPC.cbec_acct_res t2
             on t1.ACCT_RES_NAME=t2.ACCT_RES_NAME
          left join CPC.cbec_acct_item_type t3
             on t3.ACCT_RES_ID=t2.ACCT_RES_ID
               and t2.ACCT_RES_NAME=t3.ACCT_ITEM_TYPE_NAME
          where t2.bal_type <> 1  and substr(t2.comments,1,LENGTH(%(default_project)s))= %(default_project)s
               and t3.ACCT_ITEM_TYPE_ID is null

  insert_cbec_acct_item_type:
    - |
      insert into  cbec_acct_item_type a
        (
         ACCT_ITEM_TYPE_ID,
         ACCT_RES_ID,
         ACCT_ITEM_TYPE_NAME,
         ACCT_ITEM_TYPE_CODE,
         PARENT_ID,
         state,
         created_date,
         comments
         )
         select t1.PRE_DEF_ACCT_ITEM_ID,
                t2.acct_res_id,
                t1.ACCT_ITEM_TYPE_NAME,
                t1.ACCT_ITEM_TYPE_CODE,
                t3.ACCT_ITEM_TYPE_ID,
                'A',
                sysdate,
                concat( concat(t1.comments, %(default_project)s) ,to_char(t1.OLD_ACCT_ITEM_ID))
          from DC_CONFIG_ACCT_ITEM t1
          left join cbec_acct_res  t2
               on t2.ACCT_RES_NAME=t1.ACCT_RES_NAME
          left join cbec_acct_item_type t3
               on t3.ACCT_ITEM_TYPE_NAME = t1.PARENT_ACCT_ITEM_TYPE_NAME
          left join  CBEC_ACCT_ITEM_TYPE t4
               on t4.ACCT_ITEM_TYPE_name=t1.ACCT_ITEM_TYPE_NAME
                  and t4.ACCT_ITEM_TYPE_ID = t1.PRE_DEF_ACCT_ITEM_ID
          where t1.PRE_DEF_ACCT_ITEM_ID is not null and  t4.ACCT_ITEM_TYPE_ID is null


    - |
      insert into  cbec_acct_item_type a
        (
         ACCT_ITEM_TYPE_ID,
         ACCT_RES_ID,
         ACCT_ITEM_TYPE_NAME,
         ACCT_ITEM_TYPE_CODE,
         PARENT_ID,
         state,
         created_date,
         comments
         )
         select  CBEC_ACCT_ITEM_TYPE_SEQ.nextval,
                t2.acct_res_id,
                t1.ACCT_ITEM_TYPE_NAME,
                t1.ACCT_ITEM_TYPE_CODE,
                t3.ACCT_ITEM_TYPE_ID,
                'A',
                sysdate,
                concat( concat(t1.comments, %(default_project)s) ,to_char(t1.OLD_ACCT_ITEM_ID))
          from DC_CONFIG_ACCT_ITEM t1
          left join cbec_acct_res  t2
               on t2.ACCT_RES_NAME=t1.ACCT_RES_NAME
          left join cbec_acct_item_type t3
               on t3.ACCT_ITEM_TYPE_NAME = t1.PARENT_ACCT_ITEM_TYPE_NAME
          left join  CBEC_ACCT_ITEM_TYPE t4
               on t4.ACCT_ITEM_TYPE_name=t1.ACCT_ITEM_TYPE_NAME
          where t1.PRE_DEF_ACCT_ITEM_ID is null and  t4.ACCT_ITEM_TYPE_ID is null


  insert_cbec_acct_item_tax:
    - |
      insert into cpc.CBEC_ACCT_ITEM_TYPE_TAX_RATE
         select CBEC_ACCT_IT_TAX_R_SEQ.Nextval,
                t.acct_item_type_id,
                t.acct_item_type_id,
                'G',
                c.tax_rate,
                sysdate,
                sysdate + 36500,
                'A',
                sysdate,
                NULL,
                NULL,
                CBEC_COND_GROUP_SEQ.nextval,
                0
         from cpc.cbec_acct_item_type t,
              DC_CONFIG_ACCT_ITEM c
         where t.ACCT_ITEM_TYPE_NAME = c.acct_item_type_name
           and t.ACCT_RES_ID = 1
           and c.tax_rate>0
           and substr(t.comments, 1, LENGTH(%(default_project)s)) = %(default_project)s

    - |
      insert into cpc.CBEC_CONDITION_GROUP
         (condition_group_id, condition_group_nbr, sub_grp_nbr, seq_no, l_re_attr, sort_operator, r_value_type, r_value, state,
          sp_id)
         select r.CONDITION_GROUP_NBR,
                r.CONDITION_GROUP_NBR,
                1,
                1,
                10363,
                4,
                'A',
                'Y',
                'A',
                0
       from cpc.CBEC_ACCT_ITEM_TYPE_TAX_RATE r,
              cpc.cbec_acct_item_type c,
              DC_CONFIG_ACCT_ITEM t
         where r.ACCT_ITEM_TYPE_ID = c.ACCT_ITEM_TYPE_ID
           and c.ACCT_ITEM_TYPE_NAME = t.acct_item_type_name
           and c.ACCT_RES_ID = 1
           and t.tax_rate>0
           and substr(c.comments, 1, LENGTH(%(default_project)s)) = %(default_project)s


  insert_con_res:
    - |
      insert into CPC.con_res
         (
          con_res_id,
          bal_source_type,
          con_res_name,
          CON_RES_CODE,
          comments,
          is_currency,
          currency_type_id,
          unit_precision
         )
         select CON_RES_ID_SEQ.nextval,
                1,
                t1.acct_item_type_name,
                t1.ACCT_ITEM_TYPE_ID,
                 concat(%(default_project)s,' local currency consumption'),
                'Y',
              t2.CURRENCY_TYPE_ID,
              %(default_local_currency_precision)s
         from CPC.cbec_acct_item_type t1
              left join CPC.cbec_acct_res t2
                   on t1.acct_res_id =  t2.acct_res_id
              left join CPC.DC_CONFIG_ACCT_ITEM t3
                   on  t1.acct_item_type_name=t3.acct_item_type_name
              left join CPC.con_res t4
                   on t4.con_res_name = t3.acct_item_type_name
          where t2.bal_type = 1  and t4.con_res_id is null


    - |
      insert into CPC.con_res_detail
           (
            con_res_detail_id,
            con_res_id,
            acct_res_id,
            acct_item_type_id,
            pay_indicator,
            exchange_rate,
            exchange_value,
            priority,
            comments
           )
           select CON_RES_DETAIL_ID_SEQ.nextval,
                  t1.con_res_id,
                  t3.acct_res_id,
                  to_number(t1.CON_RES_CODE),
                  '000',
                  100,
                  100,
                  1,
                  sysdate
           from CPC.con_res t1
                left join DC_CONFIG_ACCT_ITEM t2
                     on t1.con_res_name=t2.acct_item_type_name
                left join cbec_acct_item_type t3
                     on t1.con_res_name = t3.acct_item_type_name
                left join con_res_detail t4
                     on t4.con_res_Id= t1.con_res_Id
           where t4.con_res_Id is  null

