PPUsageTariff:
  dst_table:
    - cpc.REF_VALUE
    - cpc.PRICE_WORK_NODE
    - cpc.PRICE
    - cpc.ACTION_PRICE
    - cpc.WORK_ACTION
    - cpc.COND_RANK
    - cpc.WORK_CONDITION
    - cpc.WORK_NODE
    - cpc.PRICE_VER
    - cpc.MAPPING_UNIT
    - cpc.MAPPING_CONDITION_GROUP
    - cpc.MAPPING
    - cpc.RATE_PLAN_ZONE
    - cpc.RATE_PLAN
    - cpc.RE_PRICE_SET
    - DC_CONFIG_PP_Usage_Tariff_LOG

  mid_table:
    - DC_CONFIG_PP_Usage_Tariff
    - DELETE_PRICE_PLAN_RATING

  insert_pp_usage_tariff:
    - |
      exec:DC_PROC_PRICE

  Delete_pp_usage_All_tariff:
    - |
      drop table delete_Price_Plan_rating
    - |
      create  table delete_Price_Plan_rating as
      select pp.price_plan_id,
               ppv.price_plan_ver_id,
               pp.price_plan_name,
               re.re_id,
               re.re_name,
               rp.re_price_set_id,
               rp.rate_plan_id,
               rp.rate_plan_name,
               ra.re_attr,
               ra.re_attr_name,
               zm.zone_map_id,
               zm.zone_map_name,
               z.zone_id,
               z.zone_name,
               m.mapping_id,
               m.mapping_name,
               p.price_id,
               p.price_ver_id,
               p.price_name,
               waap.work_node_id,
               waap.work_condition_id,
               waap.work_condition_name,
               waap.rank_up_id,
               waap.offset,
               waap.duration,
               waap.intervals,
               waap.looptime,
               waap.setup_fee_flag,
               waap.time_span_id,
               waap.time_span_name,
               waap.work_action_id,
               waap.work_action_name,
               ap.ACTION_PRICE_ID,
               rf.ref_value_id,
               rf.value_string,
               ap.rum,
               ap.min_rum,
               rr.re_attr_name mapping_re_attr_name,
               ap.re_attr mapping_re_attr,
               rv.ref_value_id con_ref_value_id,
               cr.con_res_id,
               cr.con_res_name,
                pd.param_name,
               tpc.col_name
          from price_plan        pp,
               price_plan_ver    ppv,
               price_plan_member ppm,
               re_price_set      rps,
               rate_plan         rp,
               rate_plan_zone    rpz,
               mapping           m,
               price_ver         pv,
               price             p,
               re                re,
               ACTION_PRICE ap,
               ref_value rf,
               MAPPING_UNIT mu,
               ref_value rv,
               PARAM_DEFINE pd,
               TABLE_PARAM_COLUMN tpc,
               re_attr ra,
               zone_map zm,
               zone z,
               re_attr rr,
               con_res cr,
               re_attr rt,
               (select pwn.price_id,
                       wn.work_node_id,
                       wc.work_condition_id,
                       wc.work_condition_name,
                       ck.rank_up_id,
                       ck.offset,
                       ck.duration,
                       ck.intervals,
                       ck.looptime,
                       ck.setup_fee_flag,
                       null time_span_id,
                       null time_span_name,
                       wa.work_action_id,
                       wa.work_action_name,
                       ap.action_price_id
                  from PRICE_WORK_NODE pwn,
                       WORK_NODE       wn,
                       work_condition  wc,
                       COND_RANK       ck,
                       work_node       wd,
                       WORK_ACTION     wa,
                       ACTION_PRICE    ap
                 where pwn.work_node_id = wn.work_node_id
                   and wn.is_first_node = 'Y'
                   and wn.work_node_id = wc.work_node_id
                   and wc.work_condition_id = ck.work_condition_id
                   and wc.work_out_node_id = wd.work_node_id
                   and wn.work_node_id = wd.first_work_node_id
                   and wd.work_node_id = wa.work_node_id
                   and wa.work_action_id = ap.work_action_id
                union all
                select pwn.price_id,
                       wn.work_node_id,
                       null work_condition_id,
                       null work_condition_name,
                       null rank_up_id,
                       null offset,
                       null duration,
                       null intervals,
                       null looptime,
                       null setup_fee_flag,
                       null time_span_id,
                       null time_span_name,
                       wa.work_action_id,
                       wa.work_action_name,
                       ap.action_price_id
                  from PRICE_WORK_NODE pwn,
                       work_node       wn,
                       work_action     wa,
                       ACTION_PRICE    ap
                 where pwn.work_node_id = wn.work_node_id
                   and wn.is_first_node = 'Y'
                   and wn.work_node_id = wa.work_node_id
                   and wa.work_action_id = ap.work_action_id
                  union all
                   select pwn.price_id,
                       wn.work_node_id,
                       wc.work_condition_id,
                       wc.work_condition_name,
                       null rank_up_id,
                       null offset,
                       null duration,
                       null intervals,
                       null looptime,
                       null setup_fee_flag,
                       ts.time_span_id,
                       ts.time_span_name,
                       wa.work_action_id,
                       wa.work_action_name,
                       ap.action_price_id
                  from PRICE_WORK_NODE pwn,
                       WORK_NODE       wn,
                       work_condition  wc,
                       cond_time_span  ck,
                       work_node       wd,
                       WORK_ACTION     wa,
                       ACTION_PRICE    ap,
                       time_span       ts
                 where pwn.work_node_id = wn.work_node_id
                   and wn.is_first_node = 'Y'
                   and wn.work_node_id = wc.work_node_id
                   and wc.work_condition_id = ck.work_condition_id
                   and ck.time_span_id=ts.time_span_id
                   and wc.work_out_node_id = wd.work_node_id
                   and wn.work_node_id = wd.first_work_node_id
                   and wd.work_node_id = wa.work_node_id
                   and wa.work_action_id = ap.work_action_id) waap,
               DC_CONFIG_PP_USAGE_TARIFF  dc
         where pp.price_plan_id = ppv.price_plan_id
           and pp.state<>'C'
           and ppv.price_plan_ver_id = ppm.price_plan_ver_id
           and ppm.price_set_id = rps.price_set_id
           and rps.re_id = re.re_id
           and rp.re_price_set_id = rps.re_price_set_id
           and m.rate_plan_id = rp.rate_plan_id
           and pv.mapping_id = m.mapping_id
           and p.price_ver_id = pv.price_ver_id
           and p.price_id = waap.price_id
           and waap.action_price_id = ap.action_price_id
           and ap.ref_value_id = rf.ref_value_id
           and ap.re_attr = rr.re_attr
           and rf.ref_value_type in ('1', '2')
           and rp.rate_plan_id = rpz.rate_plan_id(+)
           and m.mapping_id = mu.mapping_id(+)
           and rv.ref_value_type = '9'
           and rpz.mapping_src_value = ra.re_attr(+)
           and rpz.mapping_des_value = zm.zone_map_id(+)
           and mu.mapping_value = z.zone_id(+)
           and ap.con_res_id = rv.ref_value_id
           and rv.value_string = cr.con_res_id
           and rf.value_string = pd.param_id(+)
           and rf.re_attr = rt.re_attr(+)
           and rf.col_id = tpc.col_id(+)
           and pp.PRICE_PLAN_id =dc.PRICE_PLAN_ID
           and re.RE_NAME =dc.RE_NAME
           order by pp.price_plan_name,re.re_name,rp.rate_plan_name,waap.work_condition_id

    - |
      delete from PRICE_WORK_NODE where PRICE_ID in (select price_id from  delete_Price_Plan_rating)
    - |
      delete from PRICE where price_id in (select price_id from  delete_Price_Plan_rating)
    - |
      delete from REF_VALUE where RATE_PLAN_ID in (select RATE_PLAN_ID from   delete_Price_Plan_rating )
    - |
      delete from ACTION_PRICE where ACTION_PRICE_ID in (select action_price_id from   delete_Price_Plan_rating)
    - |
      delete from work_action where work_action_id in (select work_action_id from  delete_Price_Plan_rating)
    - |
      delete from COND_RANK w where   w.WORK_CONDITION_ID in (select WORK_CONDITION_ID from  delete_Price_Plan_rating)
    - |
      delete from WORK_CONDITION where work_node_id in (select work_node_id from  delete_Price_Plan_rating)
    - |
      delete from WORK_NODE where work_node_id in (select work_node_id from  delete_Price_Plan_rating)
    - |
      delete from PRICE_VER where PRICE_VER_ID in (select price_ver_id from  delete_Price_Plan_rating)
    - |
      delete from MAPPING_UNIT where MAPPING_ID in (select mapping_id from  delete_Price_Plan_rating)
    - |
      delete from MAPPING_CONDITION_GROUP where MAPPING_ID in (select mapping_id from  delete_Price_Plan_rating)
    - |
      delete from MAPPING where MAPPING_ID in (select mapping_id from  delete_Price_Plan_rating)
    - |
      delete from RATE_PLAN_ZONE where rate_plan_zone_id in (select rate_plan_zone_id from  delete_Price_Plan_rating)
    - |
      delete from RATE_PLAN where RATE_PLAN_ID in (select RATE_PLAN_ID from  delete_Price_Plan_rating)



